@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="ui center aligned container" style=" margin-top:40px;">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>
</div>
