
@{
    Layout = "_myLayout";

    var games = (List<Game>)ViewData["games"];
}




<h3 class="display-4 my-2">All Games</h3>

<a asp-action="create" asp-controller="games">Create new Game</a>
<hr />

<div class="row">

    @foreach (var game in games)
    {

    <div class="col-md-3 mb-5">

        <a class="myImg" asp-action="details" asp-controller="games" asp-route-id="@game.Id">

            <div class="card bg-dark text-white">
                <img src=@game.GameImage
                     class="card-img-top"
                     alt="game image"
                     width="200px"
                     height="250px" />
                <div class="card-img-overlay">
                    <h5 class="card-title text-center">@game.GameName</h5>

                </div>

            </div>
        </a>
    </div>
    }
</div>
