@model Game

@{
    Layout = "_myLayout";

    //var games = (List<Game>)ViewData["games"];
}




<h3 class="display-4 my-2">All Games</h3>


<button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#createModel">
    Create New Game!
</button>

<hr />


<div class="modal fade" id="createModel" tabindex="-1" aria-labelledby="createModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="create" method="post" class="form-horizontal" autocomplete="off">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModelLabel">Create New Game</h5>
                </div>
                <div class="modal-body">



                    <div class="form-group">
                        <label asp-for="GameName">Name: </label>
                        <div>
                            <input asp-for="GameName" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="GameImage">Image: </label>
                        <div>
                            <input asp-for="GameImage" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add" />
                </div>
            </form>
        </div>
    </div>
</div>


@* duped card code removed  *@

<partial name="_CardsPartial" />


