@page
@model LoginModel

<div class="row justify-content-center mt-5 pt-5">
    <div class="col-7 col-md-4 p-3 auth-form main-font">
        <form id="account" method="post">
            <div class="text-center mb-5">
                <img src="~/images/logo.png" class="pr-3" width="220px" />
                <h4 class="text-center">Sign in to continue</h4>
            </div>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    <input asp-for="Input.Email" class="form-control input-text" placeholder="Email" />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-unlock"></i>
                        </span>
                    </div>
                    <input asp-for="Input.Password" class="form-control input-text" placeholder="Password" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group text-right small-font">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn bg-color">Log in</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
