@page
@model RegisterModel

<div class="row justify-content-center mt-5 pt-5">
    <div class="col-7 col-md-4 p-3 auth-form main-font">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="text-center mb-5">
                <img src="~/images/logo.png" class="pr-3" width="220px" />
                <h4 class="text-center">Create a new account</h4>
            </div>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    <input asp-for="Input.Email" class="form-control input-text" placeholder="Email" />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-unlock"></i>
                        </span>
                    </div>
                    <input asp-for="Input.Password" class="form-control input-text" placeholder="Password" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <input asp-for="Input.ConfirmPassword" class="form-control input-text" placeholder="Confirm Password" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn bg-color mt-5">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
