@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Buildings Page";
    var buildings = (List<BuildingModel>)ViewData["Buildings"];
    int counter = 1;
}
<div class="container">
    <div class="row">
        @foreach (var building in buildings)
        {
            if (counter % 2 == 0)
            {
                <div class="row"> </div>
            }
            <div class="col">
                <div class="card border-dark text-center" style="margin-top:1rem; margin-bottom:1rem;">
                    <div class="card-header" style="background-color:#f8edeb">
                        <strong> @building.Name </strong>
                    </div>
                    <div class="card-img-top">
                        <img src=@building.Image style="width:520px; height:300px" alt=@building.Name />

                    </div>
                    <div class="card-footer" style="background-color: #e8e8e4">
                        <p> @building.Description</p>

                        <hr />
                        <div style="background-color: #ece4db">
                            <p>Available Rooms:</p>

                            <p style="font-size: large; font-weight:500">@building.Rooms.Count room(s)</p>
                            <a class="stretched-link" asp-area="" asp-controller="Buildings" asp-action="Details" asp-route-id=@building.Id>Building details </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>