@{
    ViewData["Title"] = "Home Page";
}
<style>

    .w3-third img {
        margin-bottom: 10px;
        opacity: 0.8;
        cursor: pointer;
      
    }
 

    .w3-third img:hover {
        opacity: 1
    }
  
    
</style>
<!-- Page content -->

<div class="container " style=" margin-bottom: 6px; opacity: 0.8; cursor: pointer ">
    <div class="row ">

        <div class="col w3-third" style="margin-top:150px; margin-left:200px">
            <a href="/Beans/Index"> <img src="https://images.unsplash.com/photo-1615324606662-5d6d2ae148f0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29mZmVlJTIwcGFzc2lvbiUyMG1vcm5pbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" style="width:300px; height:200px" alt=""></a>
            <h1 class="w3-xxlarge" style="color:gray">Beans</h1>

        </div>
        <div class="col w3-third" style="margin-top:150px; margin-right:150px">
           <a href="/Roasteries/Index"> <img src="https://images.unsplash.com/photo-1595244333063-a394c9cdd63f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvZmZlZSUyMHBhc3Npb24lMjBtb3JuaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" style="width: 300px; height: 200px" alt=""></a>
            <h1 class="w3-xxlarge" style="color:gray">Roasteries</h1>

        </div>

        <div class="col w3-third" style="margin-top:15px; margin-left:200px">
          <a href="/Tools/Index">   <img src="https://images.unsplash.com/photo-1583555968749-e08f34583c76?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fGNvZmZlZSUyMHBhc3Npb24lMjBtb3JuaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" style="width: 300px; height: 200px" alt=""></a>
            <h1 class="w3-xxlarge" style="color:gray">Barista Tools</h1>

        </div>
        <div class="col w3-third" style="margin-top:15px; margin-right:150px">
            <a href="/Identity/Account/Login">  <img src="https://images.unsplash.com/photo-1591037541477-8c6b74aac7ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fGNvZmZlZSUyMHBhc3Npb24lMjBtb3JuaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60" style="width:300px; height:200px" alt=""></a>
            <h1 class="w3-xxlarge" style="color:gray">Login</h1>

        </div>
    </div>
</div>


    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col m6 w3-padding-large w3-hide-small">
            <img src="https://images.unsplash.com/photo-1509042239860-f550ce710b93?ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" class="w3-round w3-image w3-opacity-min" alt="" width="500" height="600">
        </div>

        <div class="w3-col m6 w3-padding-large">
            <h1 class="w3-center">About Coffee</h1><br>
            <h5 class="w3-center">In mid-1600's</h5>
            <p class="w3-large">
                Coffee grown worldwide can trace its heritage back centuries to the ancient coffee forests on the Ethiopian plateau. There, legend says the goat herder Kaldi first discovered the potential of these beloved beans.

                The story goes that that Kaldi discovered coffee after he noticed that after eating the berries from a certain tree, his goats became so energetic that they did not want to sleep at night.

                Kaldi reported his findings to the abbot of the local monastery, who made a drink with the berries and found that it kept him alert through the long hours of evening prayer. The abbot shared his discovery with the other monks at the monastery, and knowledge of the energizing berries began to spread.

                As word moved east and coffee reached the Arabian peninsula, it began a journey which would bring these beans across the globe.
            </p>
            <p class="w3-large w3-text-grey w3-hide-medium font-italic">"Coffee - the favorite drink of the civilized world." - Thomas Jefferson</p>
        </div>
    </div>
</div>

