@using Microsoft.AspNetCore.Identity
@inject SignInManager<Bookworm_Project.Data.ApplicationUser> SignInManager
@inject UserManager<Bookworm_Project.Data.ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a class="item" href="/profiles/me">
        <i class="user icon"></i>
        Profile
    </a>
    <a class="item">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" style="margin:auto">
            <button type="submit" class="mini ui black button" style="margin:auto"><i class="sign out alternate icon"></i>Logout</button>
        </form>
    </a>
}
else
{
    <a class="item" asp-area="Identity" asp-page="/Account/Register">
        <i class="user plus icon"></i>
        Register
    </a>
    <a class="item" asp-area="Identity" asp-page="/Account/Login">
        <i class="sign in alternate icon"></i> 
        Login
    </a>
}

