<div class="ui fluid action input" style="max-width:550px; margin:auto; margin-bottom:10px">
    <input type="text" name="query" placeholder="Search...">
    <button class="ui black button" type="submit">Search</button>
</div>