@model eBookshelf.Models.ConverterModel

@{

    ViewData["Title"] = "View";
}


<h4>Converter web-page to e-book </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageUrl" class="control-label"></label>
                <input asp-for="PageUrl" class="form-control" />
                <span asp-validation-for="PageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-dark mt-auto"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark mt-auto" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
