@{
    ViewData["Title"] = "Not Found";
}
<div class="ui internally celled grid">

    <div class="row">
        <div class="column ui center aligned container">
            <img src="~/13.png" style="max-height:650px" />
        </div>
    </div>
</div>
