@{
    var comments = (List<Comment>)ViewData["comments"];
}


<h1>COMMENT SECTIONS:</h1>


@foreach(var cmt in comments)
            {
                
                <h3>@cmt.Title </h3>
                <h3>@cmt.User.UserName</h3>
            }