@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5 main-font">
    <img class="Home-gif" src="~/images/welcome-gif.gif" />
    <h1 class="display-4 mt-3">Welcome to <span class="logo-text-all">Dark Scissors</span></h1>
</div>