@{
    ViewData["Title"] = "Home Page";

}
<center>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <a class="navbar-brand" href="/Home"><img style="height:30px; width:30px;" src="https://cdn0.iconfinder.com/data/icons/flowers-and-leaves/47/flower_9-512.png" /></a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Home/Privacy">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/ContactUs">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Flowers/Index">Flowers</a>
            </li>
        </ul>
    </nav>
</center>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br />
<br />

<center>
    <button type="button" class="btn btn-dark" style=" padding: 3rem; margin: 3rem;"><a style="color:white" href="/flowers/index"> View All Flowers </a></button>
    <button type="button" class="btn btn-dark" style=" padding: 3rem; margin: 3rem;"><a style="color:white" href="/sweets/index"> View All Sweets </a></button>
    <button type="button" class="btn btn-dark" style=" padding: 3rem; margin: 3rem;"><a style="color:white" href="/balloons/index"> View All Balloons </a></button>
</center>