@model CoursesModel
@{
    var course = (CoursesModel)ViewData["course"];
}
<form asp-action="Edit" method="post" class="form-horizontal">

    <div class="form-group">
        <input type="hidden" asp-for="id" value="@course.id" />
    </div>

    <div class="form-group">
        <label asp-for="subject">subject</label>
        <input asp-for="subject" value="@course.subject" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" value="update">Edit</button>
    </div>
</form>