@{ 
    var courses = (List<CoursesModel>)ViewData["courses"];
}
<div class="container">
    <div class="row ">
        <h1>Courses :</h1>
    </div>
    @foreach (var course in courses)
    {
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@course.subject</h5>
        <p class="card-text">-----</p>
        <a href="/courses/details/@course.id" class="btn btn-primary">show</a>
        <form method="post" asp-action="Delete" asp-route-id="@course.id" asp-controller="Courses">
            <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
        </form>
        <a href="/courses/edit/@course.id" class="btn btn-primary">Edit</a>
        <a @*href="/courses/details/@Info.id" *@class="btn btn-primary">Info</a>
    </div>
</div>

    }

</div>