
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="card">
        <div class="products">
            <div class="product active" product-id="1" product-color="#5F9EA0">
                <div> <h2 class="title"> Welcome To TechME Dahsbord ! </h2></div>
                <div class="thumbnail"><img src="https://images.unsplash.com/photo-1556155092-490a1ba16284?ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" /></div>
                @*<p class="description">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>*@

            </div>
            <div class="product" product-id="2" product-color="#4B0082">
                <div class="thumbnail"><img src="https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y291cnNlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" /></div>
                <h1 class="title"> <a asp-controller="Courses" asp-action="Index"> Courses's Dashbord. </a>  </h1>
                @*<p class="description">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>*@
            </div>
            <div class="product" product-id="3" product-color="#90EE90
">
                <div class="thumbnail"><img src="https://images.unsplash.com/photo-1571260899304-425eee4c7efc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3R1ZGVudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" /></div>
                <h1 class="title"> <a asp-controller="Trainees" asp-action="Index"> Trainees's Dashbord. </a>  </h1>
                @* <p class="description">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>*@
            </div>
            <div class="product" product-id="4" product-color="#E9967A">
                <div class="thumbnail"><img src="https://images.unsplash.com/photo-1557200134-90327ee9fafa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNvbnRhY3QlMjB1c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" /></div>
                <h1 class="title"> <a asp-controller="Contacts" asp-action="Index"> Contact's Dashbord. </a>  </h1>
                @*<p class="description">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>*@
            </div>
            <div class="product" product-id="6" product-color="#00008B">
                <div class="thumbnail"><img src="https://images.pexels.com/photos/5989943/pexels-photo-5989943.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" /></div>
                <h1 class="title">
                    <a class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        Admin Profile:
                        <br>@User.Identity.Name!
                    </a>
                </h1>
                @* <p class="description">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>*@
            </div>
            <div class="product" product-id="5" product-color="#5F9EA0">
                <div class="thumbnail"><img src="https://images.unsplash.com/photo-1606857521015-7f9fcf423740?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8b2ZmaWNlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" /></div>
                <h1 class="title"> <a asp-controller="Instructors" asp-action="Index"> Instructor's Dashbord. </a>  </h1>
                @*<p class="description">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>*@
            </div>
        </div>
        <div class="footer"><a class="btn" id="prev" href="#" ripple="" ripple-color="#666666">Prev</a><a class="btn" id="next" href="#" ripple="" ripple-color="#666666">Next</a></div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>
    <br>
    <br>

</div>
<br>
<br>
