/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #281e33;
    font-family: 'Nunito', sans-serif;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(https://www.teahub.io/photos/full/5-52820_shadow-stripes-shape-black-red-wallpaper-background-black.jpg) #35536b;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, #b8b3b7, #271e33);
}



.card {
    transition: transform .2s;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.5);
}

    .card:hover {
        transform: scale(1.1);
    }


.list-group-item {
    background-color: rgba(134, 105, 107, 0.20);
}

    .list-group-item:hover {
        background-color: rgba(134, 105, 107, 0.50);
    }
.card-img-top {
    filter: brightness(70%);
}
.myImg:hover {
    filter: brightness(100%);
}

.card-title {
    background-color: rgb(0 0 0 / 0.66);
    border-radius: 15px
}


.card-body {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

.soc-med {
    color: #d1c3e9;
    text-decoration: none;
}

    .soc-med:hover {
        color: #d1c3e9;
        text-decoration: none;
    }

.comment {
    background-color: rgb(40 23 23 / 0.60);
    border-radius: 15px;
    padding: 10px 0px 3px 20px
}

.trash{
    color: #4c0000
}

.trash:hover{
    color:red;
}


.edit {
    color: #494700
}

    .edit:hover {
        color: yellow;
    }


.modal-content {
    background-color: #200000 !important;
}


.game-title {
    text-shadow: 2px 1px 9px #CE5937;
}