@model Doctor

<h1>Create Doctor Profile</h1>

<form asp-action="Create" method="post" class="form-horizontal">

    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <div>
            <input asp-for="Name" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Gender">Gender:</label>
        <div class="form-check">
            <input type="radio" id="Male" name="Gender" value="Male">
            <label for="Male">Male</label><br>
            <input type="radio" id="Female" name="Gender" value="Female">
            <label for="Female">Female</label><br>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Speciality">Speciality</label>
        <div>
            <input asp-for="Speciality" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Phone">Phone Number:</label>
        <div>
            <input asp-for="Phone" type="number" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <div>
            <input asp-for="Email" type="email" />
        </div>
    </div>

    <div>
        <input type="submit" class="btn btn-primary" />
    </div>
</form>

