@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Musicfy <img src="https://s3.ap-south-1.amazonaws.com/isupportcause/uploads/overlay/isupportimg_1497612167869.png" width="50px" height="50px" /></h1>
    <br />
    <h2>We Have a nice App For Music , login to enjoy our features</h2>
    <p>soundcloud <a href="https://soundcloud.com/discover">Mother Website </a>.</p>
</div>

@{
    var Songs = (List<SongModel>)ViewData["Songs"];
    var count = 0;
}

<div class="text-center d-flex justify-content-center mt-3">
    <div style="backdrop-filter: blur(10px)" class="w-50">
        <table class="table table-hover table-danger table-curved w-50" style="opacity:0.7; ">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Song Name</th>
                    <th scope="col">Song Type</th>
                    <th scope="col">Songs</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var Song in Songs)
                {
                    <tr class="table-dark">

                        @{count++;}
                        <td scope="row">@count</td>
                        <td>@Song.Name</td>
                        <td>@Song.Type</td>
                        <td>
                            <iframe width="400px" height="150px" scrolling="no" frameborder="no" allow="autoplay" src=@Song.URL> </iframe>
                        </td>

                    </tr>
                }


            </tbody>
        </table>

    </div>
</div>