@{
    ViewData["Title"] = "Home Page";
}



<div style="background-color:#f5fb9a !important">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner text-center" style="margin-left:-40px; margin-top:-20px;">
            <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" width="100%" height="370">
                <div class="carousel-caption" style=" background-color:#000000b0; color:white; font-family: Aref Ruqaa, sans-serif;font-size:xx-large;margin-top:10px;margin-bottom:70px;margin-right:30%; width:40% ; ">
                    <h2>دعم توفير السكن</h2>
                    <p style="color:#f5fb9a;">
                        جود الإسكان ..
                        <br />
                        خيارك الأقرب للخير ..
                        <br />
                        <a href="https://www.joodeskan.sa/campaigns " target="_blank" style="background-color:#f6f50e;color:black;font-size:large; width:100px;margin-top:20px;" class="btn btn-primary stretched-link">تبرع</a>
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="https://www.thaqfny.com/wp-content/uploads/2020/12/%D9%85%D9%86%D8%B5%D8%A9-%D8%AC%D9%88%D8%AF-%D8%A7%D9%84%D8%A7%D8%B3%D9%83%D8%A7%D9%86-%D8%A7%D9%84%D8%AA%D8%B9%D8%B1%D9%8A%D9%81.png" width="100%" height="370">
                <div class="carousel-caption" style=" background-color:#000000b0; color:white; font-family: Aref Ruqaa, sans-serif;font-size:xx-large;margin-bottom:70px;margin-right:30%; width:40% ; ">
                    <h2>أفرج عن سجين </h2>
                    <p style="color:#f5fb9a;">
                        فرص التبرع الخاصة بسجناء الحقوق المالية، للمساهمة في تعجيل عودتهم إلى أهاليهم.
                        <br />
                        <a href="https://ehsan.sa/forijat " target="_blank" style="background-color:gold;color:black;font-size:large; width:100px;margin-top:20px;" class="btn btn-primary stretched-link">تبرع</a>
                    </p>
                </div>


            </div>

        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div class="container" style="margin-bottom:-5px !important;margin-top:40px;padding-top:20px!important; text-align:right;background-color:white">
     
        <h1 style="color:black;text-align:center;font-family: Amiri, sans-serif;">وَأَحْسِنُوا إِنَّ اللَّهَ يُحِبُّ الْمُحْسِنِينَ</h1>
     
        <div class="row justify-content-center" >

            <div class="card col-3" style="width: 18rem; border-width:1.5px;border-color:#f6f50e;padding-top: 30px;margin-right:30px ">
                <div class="card-body" style="font-family: Amiri, sans-serif;">
                    <h5 class="card-title">مضاعفة الأجر للمتصدقين:</h5>
                    <p class="card-text"> فقد خصّ الله تعالى من ينفقون ويتصدقون من عباده بالأجر المضاعف، وذلك في قول الله تعالى: {إِنَّ الْمُصَّدِّقِينَ وَالْمُصَّدِّقَاتِ وَأَقْرَضُوا اللَّهَ قَرْضاً حَسَناً يُضَاعَفُ لَهُمْ وَلَهُمْ أَجْرٌ كَرِيم}</p>
                </div>
            </div>

            <div class="card col-3" style="width: 18rem; border-width:1.5px;border-color:#f6f50e;padding-top: 30px; margin-right:15px">
                <div class="card-body" style="font-family: Amiri, sans-serif;">
                    <h5 class="card-title">الصدقة  في الجهاد سبيل الله:</h5>
                    <p class="card-text"> ومما جاء من آيات قرآنية عن الصدقة، ما ورد عن الإنفاق والصدقة في الجهاد في سبيل الله تعالى؛ سواء أكان جهاد الكفار أو المنافقين، وقد جاء الأمر بالصدقة في الجهاد في مواضع كثيرة في كتاب الله ومنها قوله عزّ وجلّ: {انفِرُواْ خِفَافاً وَثِقَالاً وَجَاهِدُواْبِأَموَالِكُمْ وَأَنفُسِكُمْ فِي سَبِيلِ اللهِ ذَلِكُمْ خَيرٌ لَّكُمْ إِن كُنتُمْ تَعْلَمُونَ}</p>
                </div>
            </div>

            <div class="card col-3" style="width: 18rem; border-width:1.5px;border-color:#f6f50e;padding-top: 30px; margin-right:15px">
                <div class="card-body" style="font-family: Amiri, sans-serif;">
                    <h5 class="card-title">فضل الصدقة على اليتيم:</h5>
                    <p class="card-text"> وقد الله -عز وجل- في كتابه العزيز على الصدقة والإنفاق على اليتيم، ومالها من الأجر والفضل، وكان ذلك في قوله تعالى: {فَلا اقتَحَمَ العَقَبَةَ * وَمَا أدرَاكَ مَا العَقَبَةُ * فَكُّ رَقَبَةٍ * أَو إِطعَامٌ فِى يَومٍ ذي مَسغَبَةٍ * يَتِيماً ذَا مَقرَبَةٍ * أَو مِسكِيناً ذَا مَتْرَبةَ}</p>
                </div>
            </div>

        </div>
    
    </div>
</div>