@{
    var Passengers = (List<PassengerModel>)ViewData["Passenger"];

}

@{ if (Passengers == null)
    {
        <center>
            <h1>
                There is no Data in this table
            </h1>
            <button type="button" class="btn btn-dark"><a style="color:white" href="/Passenger/Create"> Add </a></button>
        </center>

    }
    else
    {<center>
    <button type="button" class="btn btn-dark"><a style="color:white" href="/Passenger/Create"> Add </a></button>
    <div class="container">
        <div class="row row-cols-3">
            @foreach (var passenger in Passengers)
            {<center>
    <div class="col">
        <div class="card" style="width:300px; margin:20px">
            <img class="card-img-top" src="https://static.euronews.com/articles/stories/05/08/82/14/400x225_cmsv2_b7d029f7-46d2-53de-80ae-cc9d793f5a14-5088214.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">@passenger.FirstName  @passenger.LastName </h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <div class="d-grid gap-3 d-md-flex justify-content-md-end">
                    <a href="/Passenger/details/@passenger.PassengerID" class="btn btn-primary" style="btn-hover-bg-shade-amount: 15%;"> Detailes</a>
                    <a class="btn btn-success" href="/Passenger/Edit/@passenger.PassengerID"> EDIT </a>
                    <form asp-action="Delete" asp-route-id="@passenger.PassengerID" method="post">
                        <input type="submit" value="Destroy" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>


            }
        </div>
    </div>

</center>
    } 
    }