/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.2);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.Homebody{
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
}
.card-info{
  width: 50%;
  height: 150px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.category-card{
  width: 300px;
  height: 100px;
  border-radius: 8px;
  background-size: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0 .50rem .75rem rgba(0, 0, 0, .2);
}
.category-body{
  background-color: rgba(0,0,0,0.5); 
  height: 100%; 
  width: 100%; 
  border-radius: 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Pattaya,serif;
}

.category-card :hover{
  box-shadow: 0 .50rem .75rem rgba(0, 0, 0, .1);
}

.user-card{
  padding: 10px;
  margin-top: 10px;
  border: 0;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
}

input{
  padding: 8px;
  border: 0;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.2);
}

.center-form{
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px 20px rgba(0,0,0,0.2);
  padding: 50px;
  margin: 50px;
  border-radius: 10px;
}
/*
.center-form input{
  padding: 8px;
  border-top-width: 1px;
  border-color: #cccccc;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-radius: 8px;
  box-shadow: 0 0;
}*/
.form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-body{
  margin-top: 50px;
}
.order-card{
  border-radius: 8px;
  box-shadow: 1px 2px 20px rgba(0,0,0,0.2);
  padding: 15px;
  margin: 10px;
}

