@{
    ViewData["Title"] = "About US";
}


<h1 style="text-align: center; color: white; margin-top: 15%; font-size:70px">About Us!!!</h1>
<div >
    <p  text-align:center; font-size:xx-large ; margin-top:100px">
        Because your health is important to us!
        We have brought you healthy restaurants and gyms on one platform! And also Sports stores will be joined to us soon....
        We will offer you memberships with subscriptions to suit everyone!

        Excited and waiting for you!

    </p>


</div>
