@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout2";
}


    <div class="row" style="height:500px">
        <div class="col-6 text-center d-flex align-items-end">
            <a class=" w-100" asp-action="About"> <button class="btn btn-outline-success w-100" style="position:relative; top: 150px; right:100px">About</button></a>
        </div>
    </div>
