@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "WebLayout";
}
<center>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <a class="navbar-brand" href="/Home"><img style="height:30px; width:30px;" src="https://cdn0.iconfinder.com/data/icons/flowers-and-leaves/47/flower_9-512.png" /></a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Home/Privacy">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/ContactUs">Contact Us</a>
            </li>
        </ul>
    </nav>
</center>

<center>
    <h2 style="font-family: 'Arial Nova';font-style: italic;">@ViewData["Title"]:</h2>

    <p style="color: #ff8080; font-family: 'Arial Nova'; font-style: italic;">
        This privacy policy sets out how our Gift Shop uses and protects any information that you give when you use this website. <br />
        We are committed to ensuring that your privacy is protected. <br />
        Should we ask you to provide certain information by which you can be identified when using this website, <br />
        then you can be assured that it will only be used in accordance with this privacy statement. <br />
        We may change this policy from time to time by updating this page. <br />
        You should check this page from time to time to ensure that you are happy with any changes.<br />
    </p>
</center>