@model Podcast_Website.ViewModel.TagAndPocast




@{ 
    var id = (int)ViewData["id"];
    
}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function type1() {
        // Get the checkbox
        var checkBox = document.getElementById("vehicle1");

        // Get the output text
        var text = document.getElementById("vehicle1Text");

        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            console.log(text.innerHTML)
            document.getElementById("tag").value += text.innerHTML + " ,"

        } else {
            document.getElementById("tag").value = document.getElementById("tag").innerHTML.replace('Tech', '')

        }

    }
    function type2() {
        var checkBox2 = document.getElementById("vehicle2");
        var text2 = document.getElementById("vehicle2Text");

        if (checkBox2.checked == true) {
            console.log(text2.innerHTML)
            document.getElementById("tag").value += text2.innerHTML + " ,"
        } else {
            console.log(document.getElementById("tag").innerHTML)
            document.getElementById("tag").value = document.getElementById("tag").innerHTML.replace('Sport', '')
        }
    }

    function type3() {
        var checkBox3 = document.getElementById("vehicle3");
        var text3 = document.getElementById("vehicle3Text");

        if (checkBox3.checked == true) {
            console.log(text3.innerHTML)
            document.getElementById("tag").value += text3.innerHTML + " ,"
        } else {
            document.getElementById("tag").value = document.getElementById("tag").innerHTML.replace('Interview', '')

        }
    }

    function imageupload() {
        var complete=  document.getElementById("complete")
        var fileupload = document.getElementById("fileimage").files[0];
        var loading = document.getElementById("loading");


        var files = fileupload;
        console.log(files)
        const data = new FormData()
        data.append('file', files)
        console.log('file', files)
        data.append('upload_preset', 'xvn0ezmv')
        loading.removeAttribute("hidden")
        axios.post('https://api.cloudinary.com/v1_1/duuconncq/image/upload', data)
            .then(res => {
                console.log("res", res.data.secure_url)
                const file = res.data.secure_url
                document.getElementById("inputurlimage").value = file
                loading.hidden = true
                complete.hidden = false
                setTimeout(function () { complete.hidden = true }, 2000);

            }).catch(err => { console.log(err) })

    }


    function audioUpload() {
        var completeaudio = document.getElementById("complete1")
        var fileupload = document.getElementById("fileaudio").files[0];
        var loading = document.getElementById("loading1");


        const config = {
            onUploadProgress: function (progressEvent) {
                var percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total)
                console.log(percentCompleted)
                document.getElementById("progressbar1").innerHTML = percentCompleted;
                document.getElementById("progressbar1").style.width = percentCompleted+"%" ;
               
            }
        }



        var files = fileupload;
        console.log(files)
        const data = new FormData()
        data.append('file', files)
        console.log('file', files)
        data.append('upload_preset', 'exoy1fej')
        loading.removeAttribute("hidden")
        axios.post('https://api.cloudinary.com/v1_1/dhuxwxtfm/video/upload', data, config)
            .then(res => {
                console.log("res", res.data.secure_url)
                const file = res.data.secure_url
                document.getElementById("inputurlaudio").value = file
                loading.hidden = true
                completeaudio.hidden = false
                setTimeout(function () { completeaudio.hidden = true }, 2000);

            }).catch(err => { console.log(err) })
    }
</script>




<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://res.cloudinary.com/duuconncq/image/upload/v1623945347/ezgif.com-gif-maker_vxjd2j.gif" width="500px" height="600px" />
        </div>
        <div class="col">
            <form asp-action="Create" method="post" class="form-horizontal">



                <div class="mb-3">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" class="form-control" placeholder="Title">
                </div>

                <div class="mb-3">
                    <label class="form-label">Upload Your Podcast</label>
                    <input type="file" class="form-control" id="fileaudio" onchange="audioUpload()">
                </div>
                <div class="mb-3" hidden>
                    <label asp-for="Audio" class="form-label">Audio</label>
                    <input asp-for="Audio" class="form-control" placeholder="Audio" id="inputurlaudio">
                </div>

                <div id="loading1" hidden>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="progressbar1">%</div>
                    </div>
                </div>
                <div id="complete1" style="color:green" hidden>
                    <i class="fas fa-check-circle"></i>
                    Upload Complete :)
                </div>




                <div class="mb-3">
                    <label class="form-label">Podcast Image</label>
                    <input type="file" class="form-control" placeholder="Podcast Image" id="fileimage" onchange="imageupload()">
                </div>
                <div id="loading" hidden>
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden"></span>
                    </div>
                    <span class=" text-primary">  Loading...</span>
                </div>
                <div id="complete" style="color:green" hidden>
                    <i class="fas fa-check-circle"></i>
                    Upload Complete :)
                </div>


                <div class="mb-3" hidden>
                    <label asp-for="Podcast_image" class="form-label">Podcast Image</label>
                    <input asp-for="Podcast_image" class="form-control" placeholder="Podcast Image" id="inputurlimage">
                </div>

                <div class="mb-3" style="margin-top:25px">
                    <label class="form-label">Choose Your Podcast types</label><br />
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" onclick="type1()">
                    <label for="vehicle1" id="vehicle1Text"> Tech</label><br>
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car" onclick="type2()">
                    <label for="vehicle2" id="vehicle2Text"> Sport </label><br>
                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" onclick="type3()">
                    <label for="vehicle3" id="vehicle3Text"> Interview </label><br>



                    <label asp-for="Tag_Name" class="form-label">Your Choice</label>
                    <input asp-for="Tag_Name" class="form-control" id="tag" placeholder="Podcast type" readonly>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" placeholder="Description" rows="3"></textarea>
                </div>








                <div class="form-group">
                    <input type="hidden" asp-for="ProfileId" value="@id" />
                </div>





                

                <div class="from-group">
                    <input style="width:280px;margin-left:100px" type="submit" class="btn btn-outline-dark btn-lg" value="Create" />
                </div>

            </form>

        </div>
    </div>
</div>


