<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a407c235412245.56f5b3a345aa6.png" alt="" width="650px" />
        </div>
        <div class="col" style="text-align: center; margin-top:170px">

            <h1 style="font-size:90px">4<span style="font-size:115px">0</span>4 <span style="color: #3060a4"><i class="fas fa-exclamation"></i></span></h1>
        </div>
    </div>
</div>