@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@Html.Partial("_NavLoginAndAdminPartial")
<center >
    <h1 style="color:white">@ViewData["Title"]</h1>
    <h4 style="color:white">Enter your email.</h4>
    <hr />
    <div class="row" style="align-content:center;padding-left:540px; ">
        <div class="col-md-4" style="background-color: white; box-shadow: 5px 5px 5px #000000; width: 600px; padding-top: 10px">
            <form method="post">
                <div  asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label style="font-size:20px" asp-for="Input.Email"></label>
                    <input style="text-align:center " asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit"  class="btn btn-warning">Submit</button>
            </form>
        </div>
    </div>
</center>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
