@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
@Html.Partial("_NavLoginAndAdminPartial")

<h1 style="color:white">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p style="color:white">
            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl"><button class="btn btn-outline-warning">Click here to confirm your account </button></a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
