@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

@Html.Partial("_NavLoginAndAdminPartial")

<center style="color:white">

    <h1>@ViewData["Title"]</h1>
    <p>
        Your password has been reset. Please 
        <a asp-page="./Login"><button class="btn btn-outline-warning">click here to log in<</button></a>
    </p>

</center>