@model ContactModel


<form asp-action="Create" method="post" class="form-horizontal">
    @*    <div class="form-group">
            <label asp-for="Course_ID">Course's ID </label>
            <div>
                <input asp-for="Course_ID" />
            </div>
        </div>*@

    <div class="form-group">
        <label asp-for="Sender_Name"> Sender's Name</label>
        <div>
            <input asp-for="Sender_Name" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Sender_Email"> Sender's Email</label>
        <div>
            <input asp-for="Sender_Email" />
            <span asp-validation-for="Sender_Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Masssege_Subject"> Message's Subject </label>
        <div>
            <input asp-for="Masssege_Subject" />
            <span asp-validation-for="Masssege_Subject" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="Sender_Massege">The Maessage : </label>
        <div>
            <input asp-for="Sender_Massege" />
            <span asp-validation-for="Sender_Massege" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>

<a asp-controller="Contacts" asp-action="Index"> Back to Contact Us</a>