
@{
    var ContactUs = (List<ContactModel>)ViewData["Contact"];
    @*    var ID = (int)ViewData["ID"];*@

    Layout = "_Layout";
}


<table class="table" style="width:100%;text-align:center;">
    <thead>
        <tr>
            <th scope="col">Contact's ID</th>
            <th scope="col">Masssege's Subject </th>        
            <th scope="col">Detail   </th>
            <th scope="col"> Edit    </th>
            <th scope="col"> Delate   </th>


        </tr>
    </thead>
    <tbody>

        @foreach (var Contact in ContactUs)

        {
            <tr>
                <th scope="row">@Contact.Contact_ID</th>
                <td>@Contact.Masssege_Subject</td>
                <td><button type="button" class="btn btn-dark"  value="Details"> <a style="color:white"  href="/Contacts/Details/@Contact.Contact_ID"> SHOW </a></button></td>
                <td><button type="button" class="btn btn-dark" value="Edit"> <a style="color:white" href="/Contacts/Edit/@Contact.Contact_ID"> Edit </a></button></td>
                <td>
                    <form method="post"  asp-action="Delete" asp-controller="Contacts" asp-route-id="@Contact.Contact_ID">
                        <input type="submit" class="btn btn-dark" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>


</table>
<button type="button" class="btn btn-dark"  value="Create">
    <a style="color:white" method="Get" asp-controller="Contacts" asp-action="Create"> Add new Contact </a>
</button>
