
@model OwnerModel
<div class="" style="background-color: darkturquoise">
    @await Html.PartialAsync("_NavPartial")
</div>
<div class="row">
    <div class="col-6" style="background: url(https://images.pexels.com/photos/1741205/pexels-photo-1741205.jpeg?cs=srgb&dl=pexels-lina-kivaka-1741205.jpg&fm=jpg) center center; background-size: cover; ">

    </div>

    <div class="bg-light text-center d-flex justify-content-center align-items-center col-6" style="background: rgb(18 17 17 / 0.72); color:black; padding: 20px; font-family: 'Times New Roman', Times, serif">
        <div class="card card-bg" style="width: 18rem; border:0">
            <h3 style="color: #2f2f2f">Re-home your cat </h3>
            <form asp-action="Create" method="post" class="form-horizontal">
                <div class=" form-group">
                    <label asp-for="name">Name</label>
                    <div>
                        <input asp-for="name" />
                    </div>
                </div>

                <div class=" form-group">
                    <label asp-for="age">Age</label>
                    <div>
                        <input asp-for="age" />
                    </div>
                </div>

                <div class=" form-group">
                    <label asp-for="gender">Gender</label>
                    <div>
                        <input asp-for="gender" />
                    </div>
                </div>

                <div class=" form-group">
                    <label asp-for="reason">Reason</label>
                    <div>
                        <input asp-for="reason" />
                    </div>
                </div>
                <div class=" form-group">
                    <label asp-for="email">Email</label>
                    <div>
                        <input asp-for="email" />
                    </div>
                </div>
                <div class=" form-group">
                    <label asp-for="phone">Phone</label>
                    <div>
                        <input asp-for="phone" />
                    </div>
                </div>
                <div class="frame">
                    <div class="center">
                        <div class="title">
                            <label>Drop image to upload</label>
                        </div>
                        <div class="dropzone">
                            <input type="file" class="upload-input" />
                        </div>

                        <button type="button" class="btn" name="uploadbutton">Upload file</button>

                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="submit" />
                </div>

            </form>
        </div>
    </div>
</div>