@page
@model Bookworm_Project.Views.Books.IndexModel
@{
    var books = (List<BookModel>)ViewBag.Books;
    var currentUser = ViewBag.CurrentUser;
}

@*<div class="ui top attached button" tabindex="0"></div>*@

<div class="ui center aligned container">
    @if (currentUser == "3a1bcb12-f334-42fa-83c0-e0ac0153868c")
    {
        <button class="huge ui black button">
            <a style="color:white" asp-controller="Books" asp-action="Create">Add a New Book</a>
        </button>
    }

    <div class="ui link cards" style="margin-left:85px; margin-top:10px;">
        @foreach (var book in books)
        {
            <div class="card" style="cursor:default">
                <div class="image">
                    <img src=@book.Cover href="books/details/@book.Id" style="max-height:437px">
                </div>
                <div class="content">
                    <div class="header">@book.Title</div>
                    <div class="meta">
                        @book.Author.FirstName @book.Author.LastName
                    </div>
                </div>
                <div class="extra content">
                    <span>
                        <i class="pencil alternate icon"></i>
                        0 Reviews

                    </span>

                    <div style="margin-top:5px">

                        <a class="mini ui blue button" style="color:white" asp-controller="Books" asp-action="Details" asp-route-id=@book.Id>Read</a>

                        @if (currentUser == "3a1bcb12-f334-42fa-83c0-e0ac0153868c")
                        {
                            <a class="mini ui olive button" style="color:white; width:25px" asp-controller="Books" asp-action="Edit" asp-route-id=@book.Id><i class="icon edit"></i></a>

                            <form asp-action="delete" asp-route-id=@book.Id method="post" style="display:inline; ">
                                <button type="submit" class="mini ui red button" style="width: 25px"><i class="trash alternate outline icon"></i></button>
                            </form>
                        }

                    </div>
                </div>
            </div>
        }

    </div>
</div>