@model Project04_Auth_CRUD_ASP.NET.Models.PriceModel

@{
    ViewData["Title"] = "Add a price";
}

<div class="row justify-content-center mt-5 pt-5">
    <div class="col-7 col-md-4 p-3 auth-form main-font">
        <div>
            <a asp-action="Index">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
        <form asp-action="Create" asp-route-id="@ViewData["BarberId"]">
            <div class="text-center mb-5">
                <h4 class="text-center">Add a price for <span class="logo-text-all">@ViewData["BarberName"]</span></h4>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            $
                        </span>
                    </div>
                    <input asp-for="Value" class="form-control input-text" />
                </div>
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeId" class="control-label">Time</label>
                <select asp-for="TimeId" class="form-control input-text" asp-items="ViewBag.TimeId"></select>
                <span asp-validation-for="TimeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn bg-color mt-5" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
