@model ServicesModel



<h1 style="color:white">Create Service Form</h1>



<form style="color:white" asp-action="Create" method="post" class="form-horizontal">

    <div class="form-group">
        <label asp-for="servName">Name</label>
        <div>
            <input asp-for="servName" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="servLogo">Logo link </label>
        <div>
            <input asp-for="servLogo" />
        </div>
        <span asp-validation-for="servLogo"></span>
    </div>
    <div class="form-group">
        <label asp-for="servOverview">Overview</label>
        <div>
            <input asp-for="servOverview" />
        </div>

        <div class="form-group">
            <label asp-for="servWebsite">Website Link</label>
            <div>
                <input asp-for="servWebsite" />
            </div>
            <div class="form-group">
                <label asp-for="servLocation">Google Map Link</label>
                <div>
                    <input asp-for="servLocation" />
                </div>

                <div class="form-group">
                    <label asp-for="servType">(Resturent / Gym / Store)</label>
                    <div>
                        <input asp-for="servType" />
                    </div>

                    <div class="form-group">
                        <input type="submit"  class="btn btn-outline-success" value="Submit" style="margin-top:10px" />
                    </div>
                </div>
</form>
