@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model BookingModel;

    var booking = (BookingModel)ViewData["booking"];
    ViewData["Title"] = booking.Room.Name + " Page";
    var img = "../" + booking.Room.Image;
    DateTime today = DateTime.Today;
    DateTime futureDate = today.AddDays(5);

    var available = ViewData["roomAvailable"];



}


<h1 style="background-color:black; margin:3rem;"> <center style="color:white">Editing the previously booked room:</center></h1>
<img src=@img alt=@booking.Room.Name style="width: 980px; height: 582px; margin: 4rem" />
<div style="background-color: #fefae0">
    <div class="row" style="margin: 1rem">
        <div class="col-6" style="color: #1a1357">
            <h3>Room Name: @booking.Room.Name</h3>
            <br />
            <h3>@booking.Room.Description</h3>
            <br />
            <h3>The capacity is: @booking.Room.Capacity</h3>
        </div>
        <div class="col-6">
            <form class="form-inline" asp-controller="Bookings" asp-action="Edit" method="post">
                <input asp-for="Date" type="date" value=@today.ToString("yyyy/MM/dd") min="2021/06/17" max=@futureDate.ToString("yyyy/MM/dd") style="margin: 2rem" />

                <button class="btn-outline-primary" style="width: 8rem; height: 4rem; font-size:larger" value="Submit">Book it</button>
                <input type="hidden" asp-for="Id" value=@booking.Id />
                <input type="hidden" asp-for="RoomId" value=@booking.RoomId />
                <input type="hidden" asp-for="UserId" value=@booking.UserId />
                <input type="hidden" asp-for="UserName" value=@booking.UserName />
                <br />
            </form>
            </div>
    </div>   
    </div>