@{
    var instructor = (InstructorModel)ViewData["instructor"];
    Layout = "InstructorLayout";
}


<h2 style="color: #30475e"> Meet Tuwaiq's Ambassadors </h2>
<body>

    <div class=" d-flex flex-wrap">

        <div class="card .text-black " style="width: 30rem; margin-inline:auto">
            <img src="@instructor.pic" class="card-img-top" alt="pic" width="300" height="300 ">
            <div class="card-body" style="color: #30475e ;background-color:#e7e7de ">
                <h5 class="card-title">@instructor.name</h5>
              @*  <p class="card-text">This instructor is teaching<b></b></p>*@
                <p class="card-text">under Organization : <b>@instructor.OrganizationId </b></p>
                <p class="card-text">Info : <b>@instructor.summary </b></p>
                <a asp-controller="Instructors" asp-action="Index">Back to Instructors</a>

            </div>
        </div>

    </div>

</body>


