@{ 

    ViewData["Title"] = "About";


}



<head>

    <style>

        p {
            font-size: 17px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h4 {
            background-color: green;
            color: white;
            width: 200px;
            margin-left: 130px;
        }
    </style>


</head>

<h2 class="text-center text-success text header"> About Us</h2>


<div class="card bg-light text-dark">
    <img src="~/images/AboutUs.jpeg" class="card-img" alt="AboutUs" >
    <div class="card-img-overlay mx-auto text-center" style="width: 500px; margin-top:130px ">
        <h4 class="card-title">Who are we ?</h4>
        <p class="card-text p-2">
            Our goal is to be the first and most comprehensive destination for healthy organic food products.

            We set our mission to be a leader in driving change to a healthy life in the Kingdom of Saudi Arabia driven by our belief that “health is a choice”
        </p>
        <h4 class="card-title">Why organic ?</h4>
        <p class="card-text p-2">
            We believe organic is the most sustainable way to farm and we believe organic, natural food and products are the best for our health.

            Organic agriculture boils down to respecting our soil – the resource we cannot feed ourselves without. The goal of organic agriculture is not to produce more. The goal is to improve soil health, produce more nutritious food, increase biodiversity, protect wildlife and steer clear of the harmful pesticides that undermine these goals.
        </p>

    </div>
</div>
