@model Project04_Auth_CRUD_ASP.NET.Models.ReservationModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReservationModel</h4>
<hr />
<div class="text-danger">
    @ViewData["message"]
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" min="@System.DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceId" class="control-label"></label>
                <select asp-for="PriceId" class="form-control" asp-items="ViewBag.PriceId"></select>
                <span asp-validation-for="PriceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
