@model CourseModel;   
@{
    var course = (CourseModel)ViewData["course"];
    Layout = "CourseLayout";
}

<form asp-action="Edit" method="post" class="form-horizontal">

    <div class="form-group">
        <label asp-for="name">Name</label>
        <input asp-for="name" value=@course.name />
        <span asp-validation-for="name"></span>
    </div>

    <div class="form-group">

        <input type="hidden" asp-for="Id" value=@course.Id />
    </div>
    <div class="form-group">
        <label asp-for="price">Price</label>
        <input asp-for="price" value=@course.price />
        <span asp-validation-for="price"></span>
    </div>
    <div class="form-group">
        <label asp-for="description">Description</label>
        <input asp-for="description" value=@course.description />
        <span asp-validation-for="description"></span>
    </div>
    <div class="form-group">
        <label asp-for="pic">Picture's URL</label>
        <input asp-for="pic"  value=@course.pic />
        <span asp-validation-for="pic" ></span>
    </div>
    <div class="form-group">
        <label asp-for="InstructorId">InstructorId</label>
        <input asp-for="InstructorId"  value=@course.InstructorId />
        <span asp-validation-for="InstructorId"></span>
    </div>

   
    <div class="form-group">
        <input type="submit" value="submit" class="btn btn-dark" />

    </div>
</form>