@model RatingModel

@using Microsoft.AspNetCore.Identity
@using AppStore.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var rating = Model;
    ViewData["Title"] = @rating.App.Name + " Review";
}


<h1 class="text-center">Edit Review Page</h1>

<div class="d-flex align-items-center">
    <img width="100px" src="@rating.App.Icon" alt="@rating.App.Name">
    <h1 class="ml-3">@rating.App.Name</h1>
</div>

<form asp-controller="Ratings" asp-action="Edit" method="post">
    <div class="mb-3">
        <label asp-for="Rating" class="form-label">Rating</label>
        <input type="number" step="0.01" asp-for="Rating" class="form-control" placeholder="ex: 4.2">
        <span asp-validation-for="Rating"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Review" class="form-label">Review</label>
        <textarea asp-for="Review" class="form-control" placeholder="ex: This App Is Very Useful" ></textarea>
        <span asp-validation-for="Review"></span>
    </div>
    <div class="mb-3">
        <label asp-for="AppId" class="form-label" hidden></label>
        <textarea asp-for="AppId" class="form-control" hidden></textarea>
    </div>
    <button type="submit" class="btn btn-info">Edit Review</button>
</form>