<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="https://cdn0.iconfinder.com/data/icons/flowers-and-leaves/47/flower_9-512.png">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
