@model TraineeModel

<form asp-action="Create" method="post" class="form-horizontal">


    <div class="form-group">
        <label asp-for="Trainee_Name"> Trainee's Name</label>
        <div>
            <input asp-for="Trainee_Name" />
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Trainee_BIO"> Trainee's BIO</label>
        <div>
            <input asp-for="Trainee_BIO" />
            <span asp-validation-for="Trainee_BIO" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Trainee_Image">Trainee's Image </label>
        <div>
            <input asp-for="Trainee_Image" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form> 

<a asp-controller="Trainees" asp-action="Index"> Back to Trainees</a>