@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    string bgImage = "https://images.pexels.com/photos/821736/pexels-photo-821736.jpeg?cs=srgb&dl=pexels-alex-andrews-821736.jpg&fm=jpg";
}

<style>
    .user-card {
        padding: 10px;
        margin-top: 10px;
        border: 0;
        box-shadow: 0;
    }

    input {
        padding: 8px;
        border: 0;
        border-radius: 8px;
        box-shadow: 1px 3px 8px rgba(0,0,0,0.2);
    }

    .center-form {
        box-shadow: 2px 3px 20px rgba(0,0,0,0.2);
        margin: 70px;
        border-radius: 10px;
    }

    .form-des {
        padding: 30px;
    }
</style>

<div class=" text-center ">
    <div class="center-form row bg-light">
        <div class="col-3 rounded" style="background: url(@bgImage)center center; background-size: cover">
        </div>
        <div class="col-9  form-des">
            <h1 style="font-family: Pattaya,serif;">@ViewData["Title"]</h1>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-dark">Register</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}