

    @{

        ViewData["Title"] = "Privacy";


    }


<style>

    p {
        font-size: 17px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    h5 {
        background-color: green;
        color: white;
        padding: 10px 0;
    }
</style>

<h2 class="text-center text-success text header">Privacy </h2>

<div class="card mx-auto text-center border-success border-5"
     style="width:700px; border-width: 2px">

    <p class="card-text p-2">
        Welcome to our Privacy Policy page! When you use our website, you give us full confidence in your information.
        This privacy policy will help you understand what information we collect, why we collect it, and what we do with it. When you share your information with us, you help us to provide you with a better service.
    </p>
    <h5 class="card-title"> Collecting Personal Information</h5>

    <p class="card-text p-2">
        When you visit the Site, we collect certain information about your device, your interaction with the Site, and information necessary to process your purchases. We may also collect additional information if you contact us for customer support. In this Privacy Policy, we refer to any information that can uniquely identify an individual (including the information below) as “Personal Information”. See the list below for more information about what Personal Information we collect and why.
    </p>

    <h5 class="card-title"> Sharing Personal Information </h5>
    <p class="card-text p-2">
        We share your Personal Information with service providers to help us provide our services and fulfill our contracts with you, as described above. For example:
        <ul>
            <li>
                We may share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.


            </li>

        </ul>

    </p>
</div>