<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChallengeME</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #4e262699; font-family: 'Russo One', cursive; font-size: 20px">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ChallengeME</a>
            <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link mr-2" aria-current="page" href="/"><i class="fas fa-home mr-1"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-2" aria-current="page" href="/games"><i class="fas fa-gamepad mr-1"></i> Games </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-2" href="/home/about"> <i class="fas fa-address-card mr-1"></i>About</a>
                    </li>
                </ul>



            </div>
            <form class="d-flex" asp-controller="games" asp-action="search">
                <input class="form-control me-2" typeof="seach" name="txt" placeholder="e.g. Need For Speed" />
                <button class="btn btn-info ml-2" typeof="submit">Search</button>
            </form>

            <partial name="_LoginPartial" />

        </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ChallengeME - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
