@model ContactModel

    <form asp-action="Create" method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="ContactId">Your ID : </label>
            <input asp-for="ContactId" disabled  class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Name">Your Name : </label>
            <input asp-for="Name"  class="form-control" placeholder="Enter you name .."/>
        </div>
        <div class="form-group">
            <label asp-for="Email">Your Email</label>
            <input asp-for="Email" class="form-control" placeholder="example@mail.com" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNo">Your Phone Number</label>
            <input asp-for="PhoneNo" class="form-control"  placeholder="+96650XXXXX"/>
            <span asp-validation-for="PhoneNo"></span>
        </div>
        <div class="form-group">
            <label asp-for="Massage">Your Massage</label>
            <textarea asp-for="Massage" placeholder="your massasge .." class="form-control"></textarea>

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-info" value="submit" />
        </div>
    </form>
