/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
/*.table {
    background-color: rgba(245, 245, 245, 0.7);
}*/

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

 /**/
input {
    padding: 8px;
    border: 0;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.2);
    margin-top: 15px
}

.from-group {
    margin-top: 15px
}

.center-form{
    width:350px;
    padding:15px
}
/**/

select {
    padding: 8px;
    border: 0;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.2);
    margin-top: 15px
}

button {
    padding: 8px;
    border: 0;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.2);
    margin-top: 15px
}

/**/
.table-curved {
    border-radius: 10px;
    border-left: 0px;
}

    .table-curved th {
        border-top: none;
    }

        .table-curved th:first-child {
            border-radius: 10px 0 0 0;
        }

        .table-curved th:last-child {
            border-radius: 0 10px 0 0;
        }

        .table-curved th:only-child {
            border-radius: 10px 10px 0 0;
        }

    .table-curved tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
    }

    .table-curved tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
    }

    /**/