
<ul class="nav list-group">
    <a style="color:indianred; font-weight:bold;" href="/user/posts" class="list-group-item list-group-item-action">Posts</a>
    <a style="color:indianred; font-weight:bold;" href="/user/orders" class="list-group-item list-group-item-action">Orders</a>
    <a style="color:indianred; font-weight:bold;" asp-area="Identity" asp-page="/Account/Manage/Index" class="list-group-item list-group-item-action">Manage Your Account</a>

</ul>