@model CommentsModel

@{
    var Comment = (CommentsModel)ViewData["Comment"];
}
<h1>Edit Comment Form</h1>
<form asp-action="Edit" method="post" asp-route-id="@Comment.Id" class="form-horizontal">

    <div class="form-group">
        <label asp-for="@Comment.Content">Comment</label>
        <div>
            <input asp-for="Content" value="@Comment.Content" />
        </div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-dark" value="Edit" style="margin-top:10px" />

    </div>

</form>
