@{
    var Comments = (List<CommentsModel>)ViewData["Comments"];
}


<div>

    <h5>Add Comments</h5>
    <i class="large material-icons"><a href="/Comments/Create" class="btn btn-dark">add_circle</a></i>

</div>
<h1 style="text-align: center; color:#807b74 ">Comments</h1>


<div class="container">
    <div class="row">

        @foreach (var item in Comments)
        {

            <div class="col-4" style="margin-top:10%; text-align:center">
                <div class="card mb-3">
                    <h3 class="card-header">Comment:</h3>
                    <div class="card-body">
                        <p class="card-img-top">@item.Content</p>

                    </div>

                    <a asp-controller="Comments" asp-action="Edit" asp-route-id="@item.Id"><i class="large material-icons">create</i></a>
                    <form asp-controller="Comments" asp-action="Delete" asp-route-id="@item.Id">
                        <input type="submit" class="" value="Delete" style="display: inline-block; background-color: rgba(0,0,0,0); border: 0; color: red">
                    </form>

                </div>
            </div>


        }

    </div>
</div>

