@{
    ViewBag.Title = "Assign Book";
}
@model Book_Project.Models.BookStore_Book_Model

<link rel="stylesheet" href="~/css/Add.css">


<div class="container">
    <div class=" text-center mt-5 ">
        <h1>Add Book to a Store</h1>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form asp-action="Assign" method="post">
                            <div class="controls">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group"> <label asp-for="BookStore_ID">Store ID *</label> <input asp-for="BookStore_ID" type="text" placeholder="Please enter the Store ID *" required="required"> </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group"> <label asp-for="Book_ID">Book ID *</label> <input asp-for="Book_ID" type="text" placeholder="Please enter the Book ID *" required="required"> </div>
                                    </div>

                                    <div class="col-md-12"> <input type="submit" class="btn btn-primary btn-send pt-2 btn-block " value="Add"> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- /.8 -->
        </div> <!-- /.row-->
    </div>
</div>