@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<!-- Header-->
@*<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">E-Bookshelf</h1>
            <p class="lead fw-normal text-white-50 mb-0">Import your books</p>
            <p class="lead fw-normal text-white-50 mb-0">Read, or Create an e-book from an existing website</p>
        </div>
    </div>
</header>*@