@{
    Course course = ViewBag.Course;
    ViewData["title"] = "Course Details";
}
<div class="bg-light text-center rounded rounded-3 m-auto p-5 col-6">
    @if (course != null)
    {
        <p>ID: @course.CourseId</p>
        <p>Course Title: @course.Title</p>
        <a href="/Courses" class="btn btn-primary">Back</a>

    }
    else
    {

        <p>Data not found</p>
    }
</div>