@model Course

@{
    ViewData["Title"] = "Edit Course";
    Course course = (Course)ViewData["Course"];
}




<div class="bg-light text-center rounded rounded-3 m-auto p-5 col-4">
    <h2>Edit Course</h2>

    <form asp-action="Edit" asp-route-id="@course.CourseId">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>


    <div>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>
</div>