@{
    var feeds = (ICollection<RssFeedModel>)ViewData["feeds"];
}

<div>


    <a asp-controller="Feeds" asp-action="Create"><button class="btn btn-info">Add Feed</button></a>
    <div class="row">
        @foreach (var item in feeds)
        {
            <div class="card col-3 mt-4 mx-2" style="width: 18rem;">
                @* <img src=@item. class="card-img-top" alt="..."> *@
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description
                    <div>
                        <a href=@item.Link> go to site </a>
                    </div>
                    </p>
                    <div class="text-right">
                        <form style="display: inline;" method="POST" asp-controller="Feeds" asp-action="Delete"
                        asp-route-id=@item.Id>
                            <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                        </form>
                        <a asp-controller="Feeds" asp-action="Details" asp-route-id=@item.Id class="btn btn-primary"> <i
                            class="bi bi-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>