@{
    ViewData["Title"] = "Home Page";
    var rooms = (List<RoomModel>)ViewData["Rooms"];
}




<h1 class="alert-heading">
    Welcome to the Conference Room Manager (<strong style="color:red">CRM</strong>) 
    where you can book a meeting, study or even a lecture room
</h1>
    
<img src="https://i.pinimg.com/originals/a1/49/39/a14939675106c32df6af350412839117.jpg" />

<hr />

<div style="background-color: #d8e2dc">
<div style="margin: 4rem">
    <h2> Here is a sample of the available rooms to book:</h2>
   </div>
  </div>
<div class="row">
    @foreach (var room in rooms)
    {
        
            <div class="col-lg-4">
                <div class="card border-dark text-center">
                    <div class="card-header">
                        <strong> @room.Name </strong>
                    </div>
                    <div class="card-img-top">
                        <img src=@room.Image style="width:340px; height:300px" alt=@room.Name />

                    </div>
                    <div class="card-footer">
                        @room.Description
                        <p>
                            <a class="stretched-link" asp-area="" asp-controller="Rooms" asp-action="Details" asp-route-id=@room.Id>Room details </a>
                        </p>
                    </div>
                </div>
            </div>
        
    }
            </div>

<div style="margin:4rem">
    <p>Please <button class="btn btn-outline-primary box-shadow"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">login</a></button> or <button class="btn box-shadow btn-outline-warning"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">register</a></button> to book a room</p>
</div>

