<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - circus</title>
    <link href="https://unpkg.com/tailwindcss@@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="mb-2">
        <div class="bg-gradient-to-b from-yellow-100 w-screen static h-16"></div>
        <div class="-mt-4 w-screen">
            <nav class="flex justify-between gap-4 w-10/12 m-auto font-semibold text-xl">
                <div>
                    <a class="mr-8 text-black" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="mr-8 text-black" asp-area="" asp-controller="Shows" asp-action="Index">Shows</a>
                    <a class="mr-4 text-black" asp-area="" asp-controller="Gallery" asp-action="Index">Gallery</a>
                </div>
                <div>
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bottom-0">
            &copy; 2021 - circus
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
