@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    @if (SignInManager.IsSignedIn(User))
    {
<div class="flex">

    <a class="mr-6 text-black" asp-controller="Tickets" asp-action="Index">Shows</a>

    <form class="mr-6 text-black" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit">Logout</button>
    </form>
</div>

   
    }
    else
    {
            <a class="mr-6 text-gray-50 bg-red-500 py-2 px-4 rounded-full shdw transition delay-150 duration-300 ease-in-out" asp-area="Identity" asp-page="/Account/Register">Register</a>
       
            <a class="mr-6 text-gray-50 bg-red-500 py-2 px-4 rounded-full shdw transition delay-150 duration-300 ease-in-out"asp-area="Identity" asp-page="/Account/Login">Login</a>
    }
