<form class="form-inline my-3 col-4" asp-action="Search">
    <input class="form-control mr-sm-2" typeof="search" name="txt" placeholder="Search" aria-label="" />
    <button class="btn btn-outline-success my" type="submit">Search</button>
</form>