@model Teacher

@{
    ViewData["Title"] = "Delete Teacher";
    int teacherId = ViewBag.TeacherId;
}




<div class="bg-light text-center rounded rounded-3 m-auto p-5 col-4">
    <h2>Delete Teacher</h2>

    <form asp-action="Delete" asp-route-id="@teacherId">
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>: 
            @Html.DisplayFor(model => model.FirstName)
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>: 
            @Html.DisplayFor(model => model.LastName)
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>: 
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>



    <div>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>
</div>