

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div style="text-align:left">
    <form class="form-inline my-3 material-icons" id="cafe" asp-action="Search" asp-controller="Tools">
        <input class="form-control" typeof="search" name="txt" placeholder="Search" />

        <button type="submit" id="cafe" class="btn-floating btn-large pulse " style=" background-color: #B7a37f;
        color: white">
            <i class="material-icons">local_cafe</i>
        </button>
    </form>
</div>