
<footer class="border-top footer text-muted " style="background-color:white">
    <div class="container">
        &copy; 2021  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-family: Aref Ruqaa, sans-serif;font-size:medium;color:black; background-color:gold;padding-right:7px; padding-left:7px;">عطايا</a>
    </div>
</footer>
