@{
    var favEvents = (List<EventsModel>)ViewData["favEvents"];
    var count = 0;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Overvie</th>
            <th scope="col">Image</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var Event in favEvents)
        {
        <tr>
            @{count++;}
            <th scope="row">@count</th>
            <td>@Event.Name.</td>
            <td>@Event.Date</td>
      

            <td><button type="button" class="btn btn-dark"><a style="color:white" href="/Events/details/@Event.Id"> See </a></button></td>

            <td>
                <form asp-action="Delete" asp-route-id="@Event.Id" method="post">
                    <input type="submit" value="Unlike" class="btn btn-danger" />
                </form>
            </td>
            <td>
                <iframe width="100%" height="300" scrolling="no" frameborder="no" src=@Event.Location> </iframe>
            </td>
        </tr>
        }

    </tbody>
</table>

