@using Microsoft.AspNetCore.Identity
@inject SignInManager<AdvanceUser> SignInManager
@inject UserManager<AdvanceUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        var userid = UserManager.GetUserId(User);
        AdvanceUser user = UserManager.FindByIdAsync(userid).Result;
        if (user.Admin == true)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Booking" asp-action="Index" title="Manage"> Bookings manage</a>
            </li>
        }
        if (user.Admin == false)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Bookings" asp-action="UserBookingIndex" title="Manage">My Bookings</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>


    }
    else
    {


        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
