@{ 
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-md-4">
        <form>
            <h2>  Necessary Items for Cats:</h2>
            <div class="form-check">
                <label>
                    <input type="checkbox" name="check" checked> <span class="label-text">Option 01</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="checkbox" name="check"> <span class="label-text">Option 02</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="checkbox" name="check"> <span class="label-text">Option 03</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="checkbox" name="check" disabled> <span class="label-text">Option 04</span>
                </label>
            </div>
        </form>

    </div>
