@{ 
    ViewData["Title"] = "Home Page";
}

<div class="" style="background-color: #71d3d1 ">
    @await Html.PartialAsync("_NavPartial")
</div>


<div class="row">
    <div class="col-6" style="background-color:#aaa;">
       
        <img src="https://images.unsplash.com/photo-1543852786-1cf6624b9987?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y2F0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60 ">
    </div>
    <div class="col-6" style="background-color:antiquewhite;">
        <h2>
            Before Adopt A Cat Consider Food
        </h2>
        <p> Suggest before you adopt a cat and bring home. Go ahead and find out what the kitty was eating in the shelter or foster home. Be a good idea to provide the same food and ease the transition. 
        It may also be a good idea to consider your cat’s size when you shop for supplies to ensure that they will be suitable for your pet.</p>
        <h2>Cat Supplies In Home Before Adopt a Cat</h2>
        <p>
            <ul>
                <li>
                    Food and water bowls
                </li>
                <li>
                    Litter box with a scooper
                </li>
                <li>
                    Collar with an ID tag containing your contact information
                </li>
                <li>
                    Pet carrier
                </li>
                <li>
                    Pet toothbrush and toothpaste
                </li>
                <li>
                    Nail clippers
                </li>
                <li>
                    Cat toys
                </li>
                <li>
                    Non-toxic cleaner
                </li>
                <li>
                    Brush or comb
                </li>
            </ul>
        </p>
        <h2>Cost of Adopting A Cat</h2>
        <p>More likely, adoption cat rescue or shelter may charge you a fee to cover the cost of taking in lost or unwanted animals. You may also have to pay for neutering or spaying 
        before you can bring your new cat home. Other cat care expenditures that be good to consider include</p>
        <ul>
            <li>
                Routine veterinary care
            </li>
            <li>
                Licensing
            </li>
            <li>
                Permanent identification such as a microchip
            </li>
            <li>
                Professional grooming
            </li>
            <li>
                Food
            </li>
        </ul>
    </div>
</div>