@model MVC_Final.Models.User;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="login-view">

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {

        <div class="container contact-form">
            <form method="post">
                <h3 id="Contact">Login</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group input-container">
                            <label>@Html.LabelFor(m => m.UserName)</label>
                            <label>@Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "effect-1" } })</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group input-container">

                            <label>@Html.LabelFor(m => m.Password)</label>
                            <label>@Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "effect-1" } })</label>
                            <span class="focus-border"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        </div>
                    </div>
                    <input type="submit" name="btnSubmit" class="btn btn-light" value="Login" />
                    <input type="reset" name="btnSubmit" class="btn btn-light" value="Reset" />
                </div>
            </form>
        </div>
    }