@model TripModel
@{
    CarModel Car = (CarModel)ViewBag.Car;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/RentalForm.css" rel="stylesheet" />
<!--Card-->
<form asp-action="Price" asp-route-id="@Car.Id">
    <div class="card shadow mb-5 bg-white rounded">
        <!--Card-Body-->
        <div class="card-body">
            <!--Card-Title-->
            <p class="card-title text-center shadow mb-5 rounded">@Car.Manufacturer @Car.CarName @Car.Year</p>
            <div class="icons text-center">
                <i style="margin:10px" aria-hidden="true"><img src="~/seat.png" style="height:20px" /> 5 seats</i>
                <i style="margin:10px" aria-hidden="true"><img src="~/car-door.png" style="height:20px" />  4 doors</i>
                <i style="margin:10px" aria-hidden="true"><img src="~/suitcase.png" style="height:20px" /> 2 Large bags</i>
            </div>
            <div class="icons text-center">
                <i style="margin:10px" aria-hidden="true"><img src="~/freezer.png" style="height:20px" />Air Conditioning</i>
                <i style="margin:10px" aria-hidden="true"> <img src="~/gearbox.png" style="height:20px" /> Auto Gearbox</i>
                <i style="margin:10px" aria-hidden="true"><img src="~/fuel-station.png" style="height:20px" /> 91</i>
            </div>
            <hr>
            <p class="searchText"><strong>Pick Up And Drop Off</strong></p>

            <div class="row" style=" width:100%; margin:10px">
                <div style="width:50%">
                    <p>Pick Up</p>
                </div>
                <div style="padding-left:15px">
                    <p>Drop Off</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6"> <input asp-for="DateReservedFrom" placeholder="&#xf073;  Pick Up" type="date" id="date-picker-example" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome" required> </div>
                <div class="col-sm-6"> <input asp-for="DateReservedUntil" placeholder="&#xf073; Drop Off" type="date" id="date-picker-example" class="form-control datepicker" style="font-family:Arial, FontAwesome" required> </div>
            </div>

            <div class="row">
                <div class="col-sm-6"> <input asp-for="TimeReservedFrom" placeholder="&#xf073; Pick Up" type="time" id="date-picker-example" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome" required> </div>
                <div class="col-sm-6"> <input asp-for="TimeReservedUntil" placeholder="&#xf073; Drop Off" type="time" id="date-picker-example" class="form-control datepicker" style="font-family:Arial, FontAwesome" required> </div>
            </div>
        </div> <button type="submit" href="#" class="btn btn-primary float-right mt-5">Next</button>
    </div>
</form>
