@{
    ViewData["Title"] = "Home";
}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
<div class="ui internally celled grid" style="margin-top: 130px">
    <div class="row">
        <div class="four wide column">
            <img src="https://i.ibb.co/1QD6DNy/logo-text-black-centered.png" style="margin-bottom: 65px; margin-top: 130px" />

        </div>
        <div class="eight wide center aligned column">
            <img src="https://images.gr-assets.com/misc/1618603242-1618603242_goodreads_misc.png">
            <h1 style="font-family: 'Squada One', cursive; color:#383535">Share your review with others</h1>
        </div>
        <div class="four wide column">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Saudi_Federation_for_Cyber_Security_and_Programming.svg" style="margin-top: 130px" />
        </div>
    </div>

</div>