@model Room

@{
    ViewData["Title"] = "Delete Room";
    int roomId = ViewBag.RoomId;
}




<div class="bg-light text-center rounded rounded-3 m-auto p-5 col-4">
    <h2>Delete Room</h2>

    <form asp-action="Delete" asp-route-id="@roomId">
        <div class="form-group">
            <label asp-for="RoomSize" class="control-label"></label>
            @Html.DisplayFor(model => model.RoomSize)
        </div>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>

    <div>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>
</div>