@{
    ViewData["Title"] = "Home Page";
}

<br />
<div style="float:left;width:40%">
    <h1>Welcome to Fatimah's Exam App!</h1>
</div>

<div style="float:right;width:50%">
    <img src="~/images/Computer.png" style="width:100%;" />
</div>

<div style="clear:both;"></div>
@Html.Partial("_LayoutPartial")