@{

    string bgImage = "/pexels-lumn.jpg";
    var orders = (List<OrderModel>) ViewBag.Orders;
}

<div class="" style="background: url(@bgImage) no-repeat center center; background-size: cover; height: 800px">
    <div class="text-center" style="height: 800px; background-color: rgba(0,0,0,0.5); ">
        @await Html.PartialAsync("_PartialNavbar")
        <div style=" height:100%; display:flex; flex-direction:column;justify-content: center">
            <h1 class="display-4" style="color: white; font-size: 120px; font-weight: bold; font-family: Pattaya,serif;">Orders</h1>
            
        </div>
    </div>
</div>

<div class="Homebody container text-center">
    
    <h1 style="font-family: Pattaya,serif;">Orders here</h1>
    <div class="row order-body">
        @foreach (var order in orders)
        {
            <div class="col-4 order-card-container" style="font-family: Pattaya,serif;">
                <div class="order-card">
                    <h3>#@order.Id</h3>
                    <h4>@order.TotalPrice$</h4>
                </div>
            </div>
        }
    </div>
</div>