@{
    ViewData["Title"] = "Home Page";
}
<center>

    <body>
        <div class="text-center">
            <h1 class="display-4">Welcome To Dark White Code Studio!</h1>



        </div>

        <html>
        <body>
            <img src="https://e.top4top.io/p_1996xdbs21.png" />


            <p class="font-weight-light">

                استديو دارك وايت كود


            </p>
            <p class="font-weight-light">
                استديو يهتم بالفن و الابداع والتصميم من اثاث وقطع فنيه
                و معماريه و يسمح للاعضاء بمشاركة اعمالهم و افضل مختاراتهم الفنيه
            </p>



        </body>

    </html>
</body>
</center>