@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<li>
    Here you can add just your own work! 
</li>
<li>
    Before you add anything you hava to sign up
</li>

