
.Main-author {
    transition: box-shadow .4s;
    margin-bottom: 10px;
    margin-top: 20px;
}

    .Main-author:hover {
        box-shadow: 0 0 40px rgba(33,33,33,.2) !important;
        opacity: 0.85;
    }

.profile-card-1 {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    text-align: center;
    height: 368px;
    border: none;
}

    .profile-card-1 .background {
        width: 100%;
        vertical-align: top;
        opacity: 0.9;
        -webkit-filter: blur(5px);
        filter: blur(5px);
        -webkit-transform: scale(1.8);
        transform: scale(2.8);
    }

    .profile-card-1 .card-content {
        width: 100%;
        padding: 15px 25px;
        position: absolute;
        left: 0;
        top: 50%;
    }

    .profile-card-1 .profile {
        border-radius: 50%;
        position: absolute;
        bottom: 50%;
        left: 50%;
        max-width: 100px;
        opacity: 1;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 1);
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }

    .profile-card-1 h2 {
        margin: 0 0 5px;
        font-weight: 600;
        font-size: 25px;
    }

        .profile-card-1 h2 small {
            display: block;
            font-size: 15px;
            margin-top: 10px;
        }

    .profile-card-1 i {
        display: inline-block;
        font-size: 16px;
        color: #ffffff;
        text-align: center;
        border: 1px solid #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        margin: 0 5px; 
    }





.MyprofileMain {
    margin-top: 50px;
}

.profile {
    transform: translateY(5rem);
}


.card1 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-bottom: 30px;
}



    .card1:hover {
        transform: scale(1.07);
    }

.container_img {
    min-width: 100%;
    height: 260px;
    object-fit: cover;
    margin-left: -30px
}

.container_img_onecard {
    min-width: 100%;
    height: 400px;
    object-fit: cover;
    margin-left: -35px
}

.link1:hover {
    text-decoration: none;
}

.checked {
    color: orange;
}

.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px
}

    .star-rating input[type=radio] {
        display: none
    }

    .star-rating label {
        color: #bbb;
        font-size: 18px;
        padding: 0;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out
    }

        .star-rating label:hover,
        .star-rating label:hover ~ label,
        .star-rating input[type=radio]:checked ~ label {
            color: #f2b600
        }





