@model RoomModel; 
<p>
    <a class="btn btn-primary" data-toggle="modal" data-target="#roomModal">Add + </a>
</p>

<div class="modal fade" id="roomModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Room Information</h2>
            </div>

            <div class="modal-body">
                <form asp-action="Create" method="post" class="form-horizontal" asp-route-HotelId="@ViewData["HotelId"]">

                    <div class="form-group">
                        <label asp-for="RoomType">Room Type</label>
                        <div>
                            <input asp-for="RoomType" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="RoomNumber">Room Number</label>
                        <div>
                            <input asp-for="RoomNumber" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="RoomImage">Room Image URL</label>
                        <div>
                            <input asp-for="RoomImage" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="RoomPrice">Room Price</label>
                        <div>
                            <input asp-for="RoomPrice" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="RoomDescribtion">Room Description</label>
                        <div>
                            <input asp-for="RoomDescribtion" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="RoomStatus">Room Status</label>
                        <div>
                            <input asp-for="RoomStatus" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Floor"> Floor</label>
                        <div>
                            <input asp-for="Floor" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="PersonCapacity">Person Capacity</label>
                        <div>
                            <input asp-for="PersonCapacity" />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary mr-3" value="Submit">Save</button>
                            <button type="submit" class="btn btn-danger" value="Cancel">Cancel</button>

                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

</div>












