@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <div class="h-screen">
        <a id="confirm-link" href="@Model.EmailConfirmationUrl">
            <h1 class="text-7xl font-bold hero text-center">
                Click here to confirm your account
            </h1>
        </a>
    </div>
        <p>
            
        </p>
    }
    else
    {
        <div class="h-screen">
            <h1 class="text-7xl font-bold hero text-center">
                Please check your email to confirm your account.
            </h1>
        </div>


    }
}
