@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model ChatModel
<div style="width: 70%;
        align-content: center;">

    <form asp-action="CreateChat" method="post" class="form-horizontal">

        @*<div class="form-group">
                <label  asp-for="Id">Id</label>
                <div>
                    <input class="form-control" asp-for="Id"  />
                </div>
            </div>*@
        <div class="form-group">
            <label asp-for="To" style="color: azure">To</label>
            <div>
                <input class="form-control" asp-for="To" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserId" style="color: azure">UserId</label>
            <div>
                <input class="form-control" asp-for="UserId"  />
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-success" value="Submit">
        </div>
    </form>
</div>