<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/47d688c1-105a-4929-83db-7846a19c6ebd/resourcegroups/HealthyChoiceSystemResourceGroup/providers/Microsoft.Web/sites/HealthyChoiceSystem</ResourceId>
    <ResourceGroup>HealthyChoiceSystemResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://healthychoicesystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>aae14b41-15e3-4d16-9877-f08b8e436887</ProjectGuid>
    <PublishUrl>https://healthychoicesystem.scm.azurewebsites.net/</PublishUrl>
    <UserName>$HealthyChoiceSystem</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>