@model Project04_Auth_CRUD_ASP.NET.Models.BarberModel

@{
    ViewData["Title"] = "Delete a barber";
}

<div class="row justify-content-center mt-5 pt-5">
    <div class="col-7 col-md-4 p-3 auth-form main-font">
        <div>
            <a asp-action="Index">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
        <h4 class="text-center mt-4">Are you sure you want to delete <span class="logo-text-all">@Html.DisplayFor(model => model.Name)</span> ?</h4>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn bg-color mt-5" />
        </form>
    </div>
</div>
