@{var organizations = (List<OrganizationModel>)ViewData["organizations"];
}
<link href="~/css/OrgIndex.css" rel="stylesheet" />

<div class="container bootstrap snippets bootdeys">
    <div class="row">
        
        @foreach (var org in organizations)
        {
           

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" style="opacity:0.76" data-radius="none">
                    <div class="content">
                        <h6 class="category"><img src="@org.pic"  width="200" height="200"/></h6>
                        <h5 class="title"><a asp-controller="Organizations" asp-action="Details" asp-route-Id="@org.Id">@org.name</a></h5>
                        <p class="description">@org.summary </p>
                    </div>
                </div> 
            </div>
        </div>
        }
       
    </div>
</div>
