@{
    Layout = "_myLayout";
}

<div className="container">
    <h1 class="display-3 text-center mt-sm-2">
        About Us
    </h1>

    <div className="container">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, atque!
            Similique molestiae iste blanditiis, sequi atque corrupti numquam
            aperiam consequatur ratione ipsam adipisci officiis facilis cupiditate
            mollitia? Vero, earum totam? Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Unde eligendi soluta laudantium architecto nisi sed,
            explicabo officiis cumque illum porro perferendis neque laborum qui
            nesciunt at dolor suscipit fugiat tempora? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Pariatur, tempora quis! Architecto,
            cumque sit, est deleniti reprehenderit commodi soluta voluptates
            corrupti ipsum incidunt ipsa alias quidem ipsam fuga. Magni, sequi.
            <br /> <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
            dignissimos adipisci? Ullam enim illo tempore quae ad, itaque
            praesentium, laboriosam sit non officia cumque blanditiis provident
            molestias vero voluptates ipsa?
        </p>

        <h3>
            <b>

                CONTACT US: <a href="#">challengeME@example.com</a>
            </b>
        </h3>
    </div>
</div>