@{
    ViewData["Title"] = "Home Page";
}
<div class="w-3/4 m-auto mt-24">
    <section class="hero text-center m-auto flex justify-around pt-4 mb-24">
        <div>
            <h1 class="text-7xl font-bold w-2/3 mt-4 mb-8">Shows & Tickets</h1>
            <div class="text-left">
                <a href="/shows/" class="ml-24 text-gray-900 font-bold font-sans uppercase bg-yellow-500 py-3 px-6 rounded-full shdw transition delay-150 duration-300 ease-in-out">See our shows</a>
            </div>
        </div>
        <div>
            <partial name="_FerryWheelPartial" />
        </div>
       
    </section>
    <div class="h-36">
        <h1 class="text-4xl text-center uppercase my-auto font-extrabold" style="font-family: 'Merriweather', serif;">About Our History</h1>
    </div>
    
    <section class="mb-6">
        <div class="w-3/4 m-auto grid grid-cols-3 gap-6">
            <div class="bg-gradient-to-b from-gray-50 rounded-lg text-center py-2">
                <h3 class="text-2xl font-bold">History</h3>
                <p class="w-3/4 leading-relaxed m-auto pt-2">
                    At the dawn of the 1980’s, a troupe of performers founded by Gilles Ste-Croix took their talent to the streets of Baie-Saint-Paul, a charming village on the shores of the St. Laurent River near Quebec City.
                </p>
            </div>
            <div class="bg-gradient-to-b from-gray-50 rounded-lg text-center py-2">
                <h3 class="text-2xl font-bold">The Birth of Artistic Revolution</h3>
                <p class="w-3/4 leading-relaxed m-auto pt-2">
                    After years of honing their craft, Guy Laliberté, a member of Les Échassiers, decided that the show they had developed was ready to delight fans outside of their home town.
                </p>
            </div>
            <div class="bg-gradient-to-b from-gray-50 rounded-lg text-center py-2">
                <h3 class="text-2xl font-bold">Expansion of a Idea</h3>
                <p class="w-3/4 leading-relaxed m-auto pt-2">
                    Cirque du Soleil made waves in the international scene for the first time in 1987 upon their first tour of the US. We Reinvent the Circus stunned Los Angeles Festival fans and media alike with its unique approach to the circus.
                </p>
            </div>

        </div>

    </section>
</div>
