@{
    ViewBag.Title = "Edit Author";

    var AuthorResult = ViewData["AuthorResult"] as AuthorModel;
}
@model Book_Project.Models.AuthorModel

<link rel="stylesheet" href="~/css/Add.css">


<div class="container">
    <div class=" text-center mt-5 ">
        <h1>Edit Author</h1>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form asp-action="Edit" method="post">
                            <div class="controls">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group"> <label asp-for="Name">Author Name *</label> <input asp-for="Name" type="text" value="@AuthorResult.Name" placeholder="Please enter the Author Name *" required="required"> </div>
                                    </div>

                                    <div class="col-md-12"> <input type="submit" class="btn btn-primary btn-send pt-2 btn-block " value="Submit"> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- /.8 -->
        </div> <!-- /.row-->
    </div>
</div>