<footer class="border-top footer text-muted " style="background-color: mintcream">
    <div class="container" style="margin-left:60px">
        &copy; 2021 - Events Hall Management System
    </div>
</footer>