@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="navbar-collapse collapse d-sm-inline-flex">
            <ul ul class="navbar-nav" style="margin-right:100px; color:black; font-family:Calibri;">
                <li class="nav-item">
                    <a class="nav-link" style="color:lightcoral; font-family:Calibri; font-weight:bolder">Dashboards:</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Events" asp-action="Dashboard">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Attendees" asp-action="Index">Attendees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Halls" asp-action="Index">Halls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Presentors" asp-action="Index">Presentors</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    }
    else
    {
<ul ul class="navbar-nav" style="margin-left:200px; color:black; font-family:Calibri;">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
</ul>
            }
  </ul>      
