@{
    var Profile = (ProfileModel)ViewData["Profiles"];
    
}


<center>

    <center class="center-form">
        <form asp-action="" method="post" class="from-horizontal">
            <div class="from-group card border-danger mt-4" style="max-width: 20rem;" wfd-id="63">
                <div class="card-header" wfd-id="65"> @Profile.Name</div>

                <div class="from-group from-horizontal card-body p-3" wfd-id="64">
                    <h5 class="list-group-item"><img src="@Profile.Photo" width="150px" height="210px" /></h5>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Profile.Bio</li>
                </ul>

                <div class="from-group from-horizontal">

                    <button type="button" class="btn btn-dark col-6 mb-2" ><a style="color:white" href="/Profiles/Edit/@Profile.Id"> Edit </a></button>
                  
                </div>


            </div>
        </form>
    </center>
</center>