@model ChairModel
@{
   ViewData["Title"] = "Edit";
    var ChairModel = (ChairModel)ViewData["ChairModel"];
}

        <form asp-action="Edit" method="post" class="form-horizontal">
            <div class="form-group">
                <div>
                    <input type="hidden" asp-for="Id" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Name">Art Name: </label>
                <div>
                  
                    <input asp-for="Name" value="@ChairModel.Name" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DesignerName">Designer Name: </label>
                <div>
                    <input asp-for="DesignerName" value="@ChairModel.DesignerName" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Price">Price: </label>
                <div>
                    <input asp-for="Price" value="@ChairModel.Price" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Image">Image: </label>
                <div>
                   

                    <input asp-for="Image" value="@ChairModel.Image" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-dark" value="Update" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

