
@model AdopterModel
<div class="" style="background-color: darkturquoise">
    @await Html.PartialAsync("_NavPartial")
</div>s
<div class="row">
    <div class="col-6" style="background: url(https://images.pexels.com/photos/2113368/pexels-photo-2113368.jpeg?cs=srgb&dl=pexels-tranmautritam-2113368.jpg&fm=jpg) center center; background-size: cover; ">

    </div>

    <div class="bg-light text-center d-flex justify-content-center align-items-center col-6" style="background: rgb(18 17 17 / 0.72); color:black; padding: 20px; font-family: 'Times New Roman', Times, serif">
        <div class="card card-bg" style="width: 18rem; border:0">
            <form asp-action="Create" method="post" class="form-horizontal">
                <div class=" form-group">
                    <label asp-for="name">Name</label>
                    <div>
                        <input asp-for="name" />
                    </div>
                </div>

                <div class=" form-group">
                    <label asp-for="age">Age</label>
                    <div>
                        <input asp-for="age" />
                    </div>
                </div>

                <div class=" form-group">
                    <label asp-for="gender">Gender</label>
                    <div>
                        <input asp-for="gender" />
                    </div>
                </div>

                <div class=" form-group">
                    <label asp-for="occupation">Occupation</label>
                    <div>
                        <input asp-for="occupation" />
                    </div>
                </div>
                <div class=" form-group">
                    <label asp-for="email">Email</label>
                    <div>
                        <input asp-for="email" />
                    </div>
                </div>
                <div class=" form-group">
                    <label asp-for="phone">Phone</label>
                    <div>
                        <input asp-for="phone" />
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="submit" />
                </div>

            </form>
        </div>
    </div>
</div>