
@{
    var Instructors = (List<InstructorModel>)ViewData["Instructor"];
    @*    var ID = (int)ViewData["ID"];*@

    Layout = "_Layout";
}


<table class="table" style="width:100%;text-align:center;">
    <thead>
        <tr>
            <th scope="col">Instructor ID</th>
            <th scope="col">Instructor Name</th>
@*            <th scope="col">Instructor BIO </th>
            <th scope="col">Instructor Image </th>*@
            <th scope="col">Detail   </th>
            <th scope="col"> Edit    </th>
            <th scope="col"> Delate   </th>


        </tr>
    </thead>
    <tbody>

        @foreach (var Instructor in Instructors)

        {
            <tr>
                <th scope="row">@Instructor.Instructor_ID</th>
                <td>@Instructor.Instructor_Name</td>
                @*<td>@Instructor.Instructor_BIO</td>
                <td><img src=@Instructor.Instructor_Image width:"200px" heigh:"200px" /></td>*@
                <td><button type="button" class="btn btn-dark"  value="Details"> <a style="color:white"  href="/Instructors/Details/@Instructor.Instructor_ID"> SHOW </a></button></td>
                <td><button type="button" class="btn btn-dark" value="Edit"> <a style="color:white" href="/Instructors/Edit/@Instructor.Instructor_ID"> Edit </a></button></td>
                <td>
                    <form method="post"  asp-action="Delete" asp-controller="Instructors" asp-route-id="@Instructor.Instructor_ID">
                        <input type="submit" class="btn btn-dark" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>


</table>
<button type="button" class="btn btn-dark"  value="Create">
    <a   style="color:white"  method="Get"asp-controller="Instructors" asp-action="Create"> Add new Instructor </a>
</button>
