.Dbody {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 100px;

	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ,0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.Dcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-image: url("../images/char3.jpg"); */
	background-repeat: 'no-repeat';
	background-size: 'cover';
	width: 1100px;
	/* box-shadow: 10px 10px 5px grey; */
	padding: 80px;
}

.Dform {
	height: 35%;
	border: 5px solid #99cbfa;
	border-radius: 20%;
	margin-top: 1em;
	flex-direction: column;
	background-color: #eceff3;
	display: flex;
	padding: 45px;
	width: 700px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Dtbody {
	font-family: 'Century Gothic', Calibri, Arial;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

#Charbtn {
	background-color: #1d976c;
}

.cont {
	padding-left: 400px;
}
