@{ 
    var Design = (CoursesModel)ViewData["Design"];
}
<div class="container">
    <div class="row ">
        <h1>Design Pattrens :</h1>
    </div>
    <div class="row">
        @foreach (var DesignFile in Design.Files)
        {
            <div class="clo">
                <div>
                    <li>
                        @DesignFile.name  @DesignFile.date
                        <form method="post" asp-action="Delete" asp-route-id=@DesignFile.id asp-controller="Files_Uploaded">
                            <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                        </form>
                    </li>
                </div>
            </div>
        }
    </div>
</div>