@{
    var React = (CoursesModel)ViewData["React"];

}
<div class="container">

    <div class="row ">
        <h1>React :</h1>
    </div>
    <div class="row">
        @foreach (var ReactFile in React.Files)
        {
            <div class="clo">
                <div>
                    <ul>
                        <li>
                            @ReactFile.name  @ReactFile.date
                            <form method="post" asp-action="Delete" asp-route-id=@ReactFile.id asp-controller="Files_Uploaded">
                                <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>