@{
    var Unit = (CoursesModel)ViewData["Unit"];

    //Layout = "WebLayout";
}
<div class="container">

    <div class="row ">
        <h1>Unit testing :</h1>
    </div>
    <div class="row">
        @foreach (var UnitFile in Unit.Files)
        {
            <div class="clo">
                <div>
                    <ul>
                        <li>
                            @UnitFile.name  @UnitFile.date
                            <form method="post" asp-action="Delete" asp-route-id=@UnitFile.id asp-controller="Files_Uploaded">
                                <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>