@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MiniNet</h1>
    <p>Less is more, Follow the updates of the things you care about in one place.</p>
</div>
