@{
    var Events = (EventsModel)ViewData["Events"];
}



<div class="card mb-5" style="margin-bottom:20px; margin-top:20px; text-align:center">
    <div class="card mb-6">
        <h3 class="card-header">@Events.Name </h3>
        <div class="card-body">
            <p> @Events.Date</p>
            <p> @Events.Overview</p>
            <div class="row" style="align-content: center">
                <div class="col d-flex justify-content-center align-items-center">
                    <img class="img-fluid" src="@Events.Image" alt="Card image cap" height="400" width="200">
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="card-body">
                <a href="/Events" class="btn btn-dark">Back</a>
            </div>

        </div>
    </div>
</div>








