@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="ui center aligned container" style=" margin-top:40px;">
    <div class="ui inverted segment">
        <form class="ui inverted form" method="post">
            <h4>Enter your email.</h4>
            <hr />
            <div class="field">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" />
                <span asp-validation-for="Input.Email"></span>

            </div>
            <button class="ui submit button" type="submit">Submit</button>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
