@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="ui center aligned container" style=" margin-top:40px;">
    <div class="ui inverted segment">
        <form class="ui inverted form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div class="two fields">
                <div class="field">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" />
                    <span asp-validation-for="Input.Email"></span>

                </div>
                <div class="field">
                    <label asp-for="Input.Avatar"></label>
                    <input asp-for="Input.Avatar" />
                    <span asp-validation-for="Input.Avatar"></span>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" />
                    <span asp-validation-for="Input.Password"></span>
                </div>
                <div class="field">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" />
                    <span asp-validation-for="Input.ConfirmPassword"></span>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" />
                    <span asp-validation-for="Input.FirstName"></span>
                </div>

                <div class="field">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" />
                    <span asp-validation-for="Input.LastName"></span>
                </div>
            </div>

            <div class="field">
                <label asp-for="Input.Bio"></label>
                <input asp-for="Input.Bio" />
                <span asp-validation-for="Input.Bio"></span>
            </div>
            <button class="ui submit button" type="submit">Register</button>
        </form>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
