@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "_myLayout";

    var users = (List<ApplicationUser>)ViewData["users"];
    var winners = (List<Winner>)ViewData["winners"];

    int counter = 0;
}

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Wins</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in users)
        {
            counter = 0;
            @foreach (var win in winners)
            {
                //if (win.Comment.UserId == u.Id)
                //{
                //    counter++;
                //}
            }
            <tr>
                <th scope="row"> @u.UserName </th>
                <td> @u.Wins </td>
            </tr>
        }
    </tbody>
</table>