@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "_myLayout";

    var users = (List<ApplicationUser>)ViewData["users"];
    var winners = (List<Winner>)ViewData["winners"];
}

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Wins</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in users)
        {
            <tr>
                <th scope="row"> @u.UserName </th>
                <td> @u.Wins </td>
            </tr>
        }
    </tbody>
</table>