@{
    var Services = (List<ServicesModel>)ViewData["Services"];
}


<div>

    <h5>Add Service</h5>
    <i class="large material-icons"><a href="/Services/Create" class="btn btn-dark">add_circle</a></i>

</div>
<h1 style="text-align: center; color:#807b74 ">Services</h1>


<div class="container">
    <div class="row">

        @foreach (var item in Services)
        {

            <div class="col-4" style="margin-top:10%; text-align:center">
                <div class="card mb-3">
                    <h3 class="card-header">@item.servName</h3>
                    <div class="card-body">
                        <img class="card-img-top" src="@item.servLogo" alt="Card image cap" height="200" width="80">


                    </div>

                    <div class="card-body">
                        <a href="/Services/Delete/@item.servId" class="btn btn-dark">Read More</a>
                    </div>
                    <a asp-controller="Services" asp-action="Edit" asp-route-id="@item.servId"><i class="large material-icons">create</i></a>
                    <form asp-controller="Services" asp-action="Delete" asp-route-id="@item.servId">
                        <input type="submit" class="" value="Delete" style="display: inline-block; background-color: rgba(0,0,0,0); border: 0; color: red">
                    </form>

                </div>
            </div>


        }

    </div>
</div>