@{
    ViewBag.Title = "Add Book";
}
@model Book_Project.Models.BookModel

<link rel="stylesheet" href="~/css/Add.css">


<div class="container">
    <div class=" text-center mt-5 ">
        <h1>Add Book to the list</h1>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form asp-action="Add" method="post">
                            <div class="controls">
                                <div class="row">
                                    
                                    <div class="col-md-6">
                                        <div class="form-group"> <label asp-for="Name">Book Name *</label> <input asp-for="Name" type="text" placeholder="Please enter the Book Name *" required="required"> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label asp-for="Image">Image Link</label> <input asp-for="Image" type="text" placeholder="Please enter the Image link "> </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group"> <label asp-for="PublisherId">Publisher ID* </label> <input asp-for="PublisherId" type="text" placeholder="Please enter the Publisher Id " required="required"> </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="AuthorId">Author ID* </label> <input asp-for="AuthorId" type="text" placeholder="Please enter the Author Id " required="required">
                                            @*<label asp-for="AuthorId">Author ID* </label>
                                            <select asp-for="AuthorId" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                                <option selected>Open this select menu</option>
                                                <option value="1">saud</option>
                                                <option value="2">sami</option>
                                                <option value="3">amira</option>
                                            </select>*@
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"> <label asp-for="Description" >Description</label> <textarea asp-for="Description"  placeholder="........." rows="4"></textarea> </div>
                                    </div>
                                    <div class="col-md-12"> <input type="submit" class="btn btn-danger btn-send pt-2 btn-block " value="Add"> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- /.8 -->
        </div> <!-- /.row-->
    </div>
</div>