@{
    ViewData["Title"] = "Home Page";
    string bgImage = "/pexels-lumn.jpg";
    string bgImage2 = "https://images.pexels.com/photos/4577740/pexels-photo-4577740.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260";
    string bgImage3 = "https://images.pexels.com/photos/825661/pexels-photo-825661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260";
    string headerStyle = "height: 700px; background-color: rgba(0,0,0,0.5); display:flex; flex-direction:column; " +
                         "justify-content: center";
}

<div class="" style="background: url(@bgImage) no-repeat center center; background-size: cover; height: 800px">
    <div class="text-center" style="height: 800px; background-color: rgba(0,0,0,0.5); ">
        @await Html.PartialAsync("_PartialNavbar")
        <div style=" height:100%; display:flex; flex-direction:column;justify-content: center">
            <h1 class="display-4" style="color: white; font-size: 120px; font-weight: bold; font-family: Pattaya,serif;">Hungry?</h1>
            <p style="color: white; font-weight: bold">Explore our web and be more hungry</p>
        </div>
    </div>
</div>

<div class="Homebody">
    <div class="card-info box-shadow container font-weight-bold home-card">
        <div>
            <p>Product</p>
            <p>+200</p>
        </div>
        <div>
            <p >Customer</p>
            <p >+200</p>

        </div>
        <div>
            <p>Catigory</p>
            <p>+200</p>
        </div>
    </div>
    
</div>


<div style="height: 100px"></div>
<div class="Homebody">
    <div class="container">
        <div class="row rounded box-shadow mt-4 home-card">
            <div class="col-8 p-4">
                <h1 style="font-weight: bold">About us</h1>
                <div class="mt-3 mb-3" style="width: 100px;height: 5px; background-color: #c69500; border-radius: 10px"></div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus culpa architecto minima assumenda delectus repellat rem enim, quas exercitationem, tempore deserunt aliquid impedit modi, blanditiis atque a labore fugiat vitae!
                    Fugit libero assumenda voluptas laborum cumque omnis excepturi enim voluptatibus mollitia ipsum, voluptate consequatur, nulla tenetur sunt veniam ex. Ratione qui adipisci similique alias eius nostrum distinctio cumque nisi blanditiis.
                    Necessitatibus asperiores laborum corporis dolorem doloribus tempora, ex repellendus, maxime adipisci enim provident! Illo assumenda voluptatum exercitationem enim expedita. Voluptas harum id nesciunt aspernatur consequatur quas et eius quaerat dolore?
                    Quaerat maxime fugiat pariatur repellendus recusandae</p>
            </div>
            <div class="col-4 rounded" style="background: url(@bgImage2) center center; background-size: cover"></div>
        </div>
    </div>
    <div class="container">
        <div class="row rounded box-shadow mt-4 home-card">
            <div class="col-4 rounded" style="background: url(@bgImage3) center center; background-size: cover"></div>
            <div class="col-8 p-4">
                <h1 style="font-weight: bold">Message</h1>
                <div class="mt-3 mb-3" style="width: 100px;height: 5px; background-color: #c69500; border-radius: 10px"></div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus culpa architecto minima assumenda delectus repellat rem enim, quas exercitationem, tempore deserunt aliquid impedit modi, blanditiis atque a labore fugiat vitae!
                    Fugit libero assumenda voluptas laborum cumque omnis excepturi enim voluptatibus mollitia ipsum, voluptate consequatur, nulla tenetur sunt veniam ex. Ratione qui adipisci similique alias eius nostrum distinctio cumque nisi blanditiis.
                    Necessitatibus asperiores laborum corporis dolorem doloribus tempora, ex repellendus, maxime adipisci enim provident! Illo assumenda voluptatum exercitationem enim expedita. Voluptas harum id nesciunt aspernatur consequatur quas et eius quaerat dolore?
                    Quaerat maxime fugiat pariatur repellendus recusandae</p>
            </div>
        </div>
    </div>
</div>
