@model PetModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager

<center>
    <form asp-action="Create" method="post" class=" form-horizontal">
        <div hidden class=" form-group">
            <label asp-for="UserId">user</label>
            <input asp-for="UserId" value="@UserManager.GetUserId(User)" />
        </div>
        <div class=" form-group">
            <label asp-for="Image">Image URL :</label>
            <input asp-for="Image" />
        </div>
        <div class=" form-group">
            <label asp-for="Type">Type :</label>
            <input asp-for="Type" />
        </div>
        <div class=" form-group">
            <label asp-for="Gender">Gender :</label>
            <input asp-for="Gender" />
        </div>
        <div class=" form-group">
            <label asp-for="Details">Details :</label>
            <input asp-for="Details" />
        </div>
        <div class=" form-group">
            <label asp-for="ContactNo">Phone Number :</label>
            <input asp-for="ContactNo" />
        </div>
        <div class=" form-group">
            <input type="submit" class=" btn btn-primary" value="submit" />
        </div>
    </form>
</center>