@{
    var comments = (List<Comment>)ViewData["comments"];
}

<hr />
<h1 class="display-6">Comments</h1>


@foreach (var cmt in comments)
{

    <h4>@cmt.Title </h4>
    <p class="text-muted">@cmt.User.UserName</p>
}

