@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model Challenge
@{
    Layout = "_myLayout";

    var game = (Game)ViewData["game"];
    var list = (List<string>)ViewData["diff"];
}


<h1> Create New Challenge for: @game.GameName</h1>

<hr />

<form asp-action="create" method="post" class="form-horizontal" autocomplete="off" asp-route-id="@game.Id" asp-route-uid="@UserManager.GetUserId(User)">
    <div class="form-group">
        <label asp-for="Title">Title: </label>
        <div>
            <input asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description: </label>
        <div>
            <input asp-for="Description" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Difficulty">Difficulty: </label>

        <select class="form-select" asp-for="Difficulty"
                asp-items="@(new SelectList(list))">
        </select>


    </div>


    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="SUBMIT" />
    </div>
</form>

