
@model Challenge
@{

    var challenge = (Challenge)ViewData["challenge"];
    //var comments = (List<Comment>)ViewData["comments"];
}


<h1>INFO ABOUT THE CHALLENGE</h1>


<h2>@challenge.Title</h2>
<h4>@challenge.Description</h4>



<partial name="_CommentsPartial" />

@*@Html.Partial("_ViewPartial") not recommended  *@