
@model Challenge
@{
    Layout = "_myLayout";

    var challenge = (Challenge)ViewData["challenge"];
    //var comments = (List<Comment>)ViewData["comments"];
}


<h1 class="display-4">@challenge.Title </h1>
<h3 class="text-muted">@challenge.Game.GameName</h3>

<p>@challenge.Description</p>



<partial name="_CommentsPartial" />

@*@Html.Partial("_ViewPartial") not recommended  *@