@model ProductModel

@{

    string bgImage = "/pexels-lumn.jpg";
    var products = (List<ProductModel>) ViewData["Products"];
}

<div class="" style="background: url(@bgImage) no-repeat center center; background-size: cover; height: 800px">
    <div class="text-center" style="height: 800px; background-color: rgba(0,0,0,0.5); ">
        @await Html.PartialAsync("_PartialNavbar")
        <div style=" height:100%; display:flex; flex-direction:column;justify-content: center">
            <h1 class="display-4" style="color: white; font-size: 120px; font-weight: bold; font-family: Pattaya,serif;">Add Product</h1>
            
        </div>
    </div>
</div>

<div class="Homebody container ">


    <form asp-action="Create" method="post">
        
        @*
        <div class="form-group">
            <label asp-for="Name">Id</label>
            <div class="form-group">
                <input asp-for="ProductId">
            </div>
        </div>
        *@
        
    
    
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <div>
                <input asp-for="Name">
            </div>
                    <span asp-validation-for="Name" style="color: red"></span>
    
        </div>
    
    
        <div class="form-group">
            <label asp-for="img">image URL</label>
            <div>
                <input asp-for="img">
            </div>
            <span asp-validation-for="img" style="color: red"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="CategoryId">Category Id</label>
            <div>
                <input asp-for="CategoryId">
            </div>
            <span asp-validation-for="CategoryId" style="color: red"></span>
        </div>
    
        <div class="form-group">
            <label asp-for="Price">Price</label>
            <div>
                <input asp-for="Price">
            </div>
            <span asp-validation-for="Price" style="color: red"></span>
        </div>
    
        <div class="form-group">
            <input type="submit" class="btn btn-dark" value="submit">
        </div>
    </form>
</div>