
<div class="container">
    <div class="row ">
        <h1>Courses :</h1>
    </div>
    <div class="row">
            <div class="clo">
                <div>
                    <a asp-controller="Files_Uploaded" asp-action="Dotnet">Dotnet</a>
                    <a asp-controller="Files_Uploaded" asp-action="React">React</a>
                    <a asp-controller="Files_Uploaded" asp-action="Design">Design pattrens</a>
                    <a asp-controller="Files_Uploaded" asp-action="Unit">Unit Testing</a>
                </div>
            </div>
    </div>
</div>