@{ 
    Layout = "_Layout";
    var courses = (List<CoursesModel>)ViewData["courses"];
    var Information = (List<InfoModel>)ViewData["Information"];

}
<div class="container">
    <div class="row ">
        <h1>Courses :</h1>
    </div>
    @foreach (var course in courses)
    {
<div class="card" style="width: 18rem;">
    <img src="@course.imgurl" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@course.subject</h5>
        <a asp-controller="Courses" asp-action="details" asp-route-id="@course.id">show</a>
        <form method="post" asp-action="Delete" asp-route-id="@course.id" asp-controller="Courses">
            <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
        </form>
        <a href="/courses/edit/@course.id" class="btn btn-primary">Edit</a>
    </div>
</div>
    }
</div>