<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewData["Title"] - ConferenceRoomManager</title>
    <!--Imports-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/lib/aos/aos.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

</head>
<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a asp-area="" asp-controller="Home" asp-action="Index">CRM</a></h1>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a asp-area="" asp-controller="Rooms" asp-action="Index">Rooms</a></li>
                    <li>
                        <a asp-area="" asp-controller="Bookings" asp-action="Index">Bookings</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Buildings" asp-action="Index">Buildings</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Aboutus" asp-action="Index">About us</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>
    <div class="separaterPage" style="margin:8rem"></div>


            @RenderBody()
   


<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 footer-contact">
                    <h3>Conference Room Manager</h3>
                    <p>
                        University of Fictional <br>
                        Riyadh, RY 12477<br>
                        Saudi Arabia <br><br>
                        <strong>Phone:</strong> +11 400 800 900<br>
                        <strong>Email:</strong> ignoredMails@localhost.com<br>
                    </p>
                </div>

                <div class="col-lg-6 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a  asp-area="" asp-controller="Aboutus" asp-action="Index">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a asp-area="" asp-controller="Rooms" asp-action="Index">Rooms</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a asp-area="" asp-controller="Buildings" asp-action="Index">Buildings</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </footer>

                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>

                <!-- Vendor JS Files -->
                <script src="~/lib/aos/aos.js"></script>
                <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="~/lib/purecounter/purecounter.js"></script>
                <script src="~/lib/swiper/swiper-bundle.min.js"></script>

                <!-- Template Main JS File -->
                <script src="~/js/main.js"></script>

                @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
