@{
    ViewData["Title"] = "Home Page";
    // Layout = "WebLayout";
}
<center>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://i2.wp.com/mrplantgeek.com/wp-content/uploads/2021/01/spring-flowers-feature-image.jpg?fit=1000%2C500&ssl=1" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>FLOWERS</h3>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F133281869%2F345992434261%2F1%2Foriginal.20210425-050051?w=1000&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C100%2C600%2C300&s=e1e3d62553119c15cea3bb6e1aef4d5c" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>SWEETS</h3>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="https://res.cloudinary.com/practicaldev/image/fetch/s--bFDd7Oeg--/c_imagga_scale,f_auto,fl_progressive,h_500,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/07633g6v8j12qdb3m513.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>BALLOONS</h3>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</center>

<br />
<br />

<center><h4> ABOUT US:</h4></center>
<br />
<div class="row">
    <div class="column">
        <img class="d-block w-100" src="https://m.economictimes.com/thumb/msid-70221446,width-1200,height-900,resizemode-4,imgsize-621577/gifts.jpg" alt="First slide">
    </div>
    <div class="column">
        <center>
            <p>
                At our Gift Shop you’ll discover a blessing bushel for each event.
                Our exceptional, superb gifts are certain to inspire even the most difficult to satisfy beneficiaries.
                On account of the assistance of our esteemed clients and item supply organizations,
                we have more than ten years involvement in making delightfully given blessing bins filled the most magnificent and novel things from around the globe. <br />

                A huge measure of exertion goes into picking items to fill our  gifts containers to guarantee total consumer loyalty when each blessing is gotten.
                Look over our wide determination of specific crates, including events, for example, Business Gifts, Corporate Gift Baskets, Easter, Father’s Day, Birthday, Get Well,
                Thank You and a lot more to find out and discover your ideal present for that unique individual.<br />

                Our Gift Shop, situated in New York, has rapidly developed into the online pioneer for quality gratefulness blessing crates and infant gifts items.
                In the previous quite a long while our Gift Shop New York has earned a notoriety for giving Premium Quality Gourmet Gift Baskets and Baby Gift Baskets items with superlatively solid Customer Service that is second to none in our industry.
            </p>
        </center>
    </div>

</div>

<br />
<br />

<center>
    <h4 style="color: black; font-family: 'Arial Nova'; font-style: italic; font-weight:bold;">
        WHY CHOOSE US:
    </h4>
    <br />
    <br />

    <div class="row">

        <div class="col-lg-4">
            <img src="https://bridgendwindowcleaning.com/images/icons8-timer-800.png" style="height:100px; width:100px" />
            <h6>FAST DELIVERY</h6>
            <p>
                We guarantee to collect and deliver the goods within the agreed time frame.
                For all of our Clients we are always looking for best possible solution to reduce collection and delivery time, while taking care of minimizing the cost.
            </p>
        </div>
        <div class="col-lg-4">
            <img src="https://bridgendwindowcleaning.com/images/icons8-phone-800.png" style="height: 100px; width: 100px" />
            <h6>ALWAYSE AVAILABLE</h6>
            <p>
                You can contact us by phone, text or email at any time if you need to speak to us or need our services at short notice.
                Additionally, we always contact you by text or email to let you know when we will be able to deliver your order!
            </p>
        </div>
        <div class="col-lg-4">
            <img src="https://bridgendwindowcleaning.com/images/icons8-trust-800a.png" style="height:100px; width:100px" />
            <h6>TRUSTWORTHY</h6>
            <p>
                All of our drivers are experienced and fully trained in cargo handling who ensure safe delivery of the shipment to their destination.
                We can ensure you that your shipment is in safe hands when they are handed over to our network and that the goods will be safely delivered to its destination.
            </p>
        </div>

    </div>

</center>

<br />
<br />

<center>
    <h4 style="color: black; font-family: 'Arial Nova'; font-style: italic; font-weight:bold;">
        OUR PRODUCTS:
    </h4>

    <button type="button" class="btn btn-dark" style="padding: 4rem; margin: 4rem; background-image: url('https://store-images.s-microsoft.com/image/apps.15216.13510798887177572.50106407-be76-4eb4-92bb-11aa872bf4ee.c6c11702-97bf-421b-b64a-7dd58bc7a827?mode=scale&q=90&h=200&w=200&background=%23000000');"><a style="color: black; font-weight: bold;" href="/flowers/index"> FLOWERS </a></button>
    <button type="button" class="btn btn-dark" style="padding: 4rem; margin: 4rem; background-image: url('https://www.recipegirl.com/wp-content/uploads/2007/06/Red-White-Blue-Cupcakes-2-200x200.jpg');"><a style="color: black; font-weight: bold" href="/sweets/index"> SWEETS </a></button>
    <button type="button" class="btn btn-dark" style="padding: 4rem; margin: 4rem; background-image: url('https://static.grassflorist.com/image/cache/catalog/latex-balloons-200x200.jpg');"><a style="color: black; font-weight: bold " href="/balloons/index"> BALLOONS </a></button>
</center>

<style>
    .carousel-item img {
        max-height: 600px;
    }

    .row {
        display: flex;
    }

    .column {
        flex: 50%;
    }
</style>