@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="    position: relative;
        height: 400px;
        background-image: url(https://images.pexels.com/photos/884600/pexels-photo-884600.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
    ">
        <h1 class="display-4">MaNodelz</h1>
    </div>
    <div>
        <h2>Why Nodels shop:</h2>
        <div style="display: grid ; grid-template-columns: auto auto auto">
            <div> <p>Loremsdfsduisbgikbgsiogiorpgh agiua ghiag ipagniuargiau regeirjgnipan adbfinb adb dafuiad buidafa</p></div>
            <div> <p>Loremsdfsduisbgikbgsiogiorpgh agiua ghiag ipagniuargiau regeirjgnipan adbfinb adb dafuiad buidafa</p></div>
            <div> <p>Loremsdfsduisbgikbgsiogiorpgh agiua ghiag ipagniuargiau regeirjgnipan adbfinb adb dafuiad buidafa</p></div>
        </div>
    </div>
    <div>
        <h2>About Us:</h2>
        <div style="display: grid ; grid-template-columns: auto auto auto">
            <div> <p>Loremsdfsduisbgikbgsiogiorpgh agiua ghiag ipagniuargiau regeirjgnipan adbfinb adb dafuiad buidafa</p></div>
            <div> <p>Loremsdfsduisbgikbgsiogiorpgh agiua ghiag ipagniuargiau regeirjgnipan adbfinb adb dafuiad buidafa</p></div>
            <div> <p>Loremsdfsduisbgikbgsiogiorpgh agiua ghiag ipagniuargiau regeirjgnipan adbfinb adb dafuiad buidafa</p></div>
        </div>
    </div>

</div>
